@using Pandacap.Data
@using Pandacap.Models.Gallery
@model ListViewModel

@if (Model.Items.Any())
{
    var minDate = Model.Items.Select(item => item.PublishedTime).Min().UtcDateTime;
    var maxDate = Model.Items.Select(item => item.PublishedTime).Max().UtcDateTime;

    <p>
        Showing
        <strong>@Model.Items.Count()</strong>
        item(s) posted between
        <strong>@minDate.ToLongDateString()</strong> (@minDate.ToShortTimeString())
        and
        <strong>@maxDate.ToLongDateString()</strong> (@maxDate.ToShortTimeString()).
    </p>
}

@foreach (var group in Model.Items.GroupBy(item => (
    item.Username,
    item.Usericon
)))
{
    <h1>
        <img height="50" src="@group.Key.Usericon" alt="" />
        <span style="display: inline-block; vertical-align: top">
            <strong>
                @group.Key.Username
            </strong>
        </span>
    </h1>

    <div class="container-fluid">
        <div class="row">
            @foreach (var item in group)
            {
                if (item is DeviantArtOurArtworkPost imagePost && imagePost.Thumbnails.Any())
                {
                    <div class="col-sm-4 col-md-3 text-center my-4">
                        <a href="@item.Url" target="_blank">
                            <img src="@imagePost.ThumbnailUrl"
                                 srcset="@imagePost.ThumbnailSrcset"
                                 alt="@imagePost.AltText"
                                 referrerpolicy="no-referrer"
                                 class="feed-image" />
                        </a>
                        <a href="@item.Url">
                            @item.Title
                        </a>
                    </div>
                }
                else
                {
                    <span>
                        <a href="@item.Url">@item.Title</a>
                        <span class="text-muted">(@item.PublishedTime.UtcDateTime.ToLongDateString())</span>
                    </span>
                }
            }
        </div>
    </div>
}

<hr />

@if (Model.PrevOffset is int prevOffset)
{
    <a asp-controller="Gallery"
        asp-action="Index"
        asp-route-offset="@prevOffset"
        asp-route-count="@Model.Count"
        class="btn btn-primary">
        &laquo; Previous @Model.Count items
    </a>
}

@if (Model.NextOffset is int nextOffset)
{
    <a asp-controller="Gallery"
        asp-action="Index"
        asp-route-offset="@nextOffset"
        asp-route-count="@Model.Count"
        class="btn btn-primary">
        Next @Model.Count items &raquo;
    </a>
}

<style type="text/css">
    h1 {
        margin-bottom: 1rem;
    }

    img.feed-image {
        height: 150px;
    }

    @@supports (object-fit: contain) {
        img.feed-image {
            width: 100%;
            object-fit: contain;
        }
    }
</style>
