@using Pandacap.Models
@using Pandacap.UI.Elements
@model IEnumerable<IPost>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            string? url = User.Identity?.IsAuthenticated == true
                ? item.InternalUrl
                : item.ExternalUrl;

            var thumbnail = item.Thumbnails
                .Take(1)
                .FirstOrDefault();

            <div class="col-12 mb-3 col-sm-4 col-md-3 text-center">
                @if (thumbnail != null)
                {
                    <div class="card">
                        <a href="@url" style="text-decoration: none">
                            <img src="@thumbnail.Url"
                            alt="@thumbnail.AltText"
                            referrerpolicy="no-referrer"
                            class="feed-image" />
                        </a>
                    </div>
                }

                <label style="max-width: 100%; height: 3rem; overflow: hidden">
                    <a href="@url">@item.DisplayTitle</a>
                </label>

                <div class="mb-2">
                    <img height="25" src="@item.Usericon" alt="" />
                    <a href="@item.ProfileUrl" target="_blank" style="display: inline-block; vertical-align: top">
                        <strong>
                            @item.Username
                        </strong>
                    </a>
                </div>

                <span class="badge mb-3" style="background-color: @item.Badge.Background; color: @item.Badge.Color; max-width: 100%; overflow-x: hidden; text-overflow: ellipsis;">
                    @item.Badge.Text
                </span>
            </div>
        }
    </div>
</div>