@using Pandacap.Data
@using Pandacap.LowLevel
@model LocalReplyModel
@inject ApplicationInformation appInfo

@{
    var post = Model.LocalPost;
}

<section aria-label="Comment" style="border: 1px solid currentColor" class="p-3 mt-3">
    <img width="25" height="25" src="/Blobs/Avatar" alt="" />

    <span style="display: inline-block; vertical-align: top">
        <strong>
            <a href="/" target="_blank">@appInfo.Username</a>
        </strong>
    </span>

    <br />

    @Html.Raw(post.HtmlContent)

    <a class="small" asp-controller="AddressedPosts" asp-action="Index" asp-route-id="@post.Id">
        @post.PublishedTime
    </a>

    @foreach (var reply in Model.RemoteReplies)
    {
        <div class="ml-4">
            <partial name="_RemoteReply" model="@reply" />
        </div>
    }
</section>
