@using Pandacap.PlatformLinks.Interfaces
@model IEnumerable<IPlatformLink>

@* <table>
    <thead>
        <tr class="visually-hidden">
            <th scope="col">Protocol(s)</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.GroupBy(link => new
        {
            link.Category,
            link.Username
        }))
        {
            <tr>
                <td class="p-1">
                    @foreach (var link in group)
                    {
                        <div>
                            @if (link.Url == null)
                            {
                                <span class="small" style="text-decoration: none">
                                    <img alt=""
                                         src="/images/@link.IconFilename"
                                         class="social-icon-inline" />
                                    @link.PlatformName
                                </span>
                            }
                            else
                            {
                                <a href="@link.Url" target="_blank" class="small" style="text-decoration: none">
                                    <img alt=""
                                            src="/images/@link.IconFilename"
                                            class="social-icon-inline" />
                                    @link.PlatformName
                                </a>
                            }
                        </div>
                    }
                </td>
                <td class="p-1" valign="top">
                    <span class="small text-muted" style="user-select: all">@group.Key.Username</span>
                </td>
            </tr>
        }
    </tbody>
</table> *@

@foreach (var group in Model.GroupBy(link => new
{
    link.Category,
    link.Username
}))
{
    var primary = group.First();
    var alternate = group.Skip(1);

    <div class="card d-inline-block m-2" style="vertical-align: top">
        <div class="card-body p-2">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <a href="@primary.Url" target="_blank" style="text-decoration: none">
                        <img alt=""
                             src="/images/@primary.IconFilename"
                             class="social-icon-inline" />

                        @primary.PlatformName
                    </a>
                </div>

                <div class="flex-grow-0">
                    @if (alternate.Any())
                    {
                        <span class="small text-muted">
                            &nbsp;&nbsp;/
                        </span>
                    }
                    @foreach (var link in alternate)
                    {
                        <a href="@link.Url" target="_blank" class="small" style="text-decoration: none">
                            <img alt=""
                                 title="@link.PlatformName"
                                 src="/images/@link.IconFilename"
                                 class="social-icon-inline" />
                            <span class="visually-hidden">
                                @link.PlatformName
                            </span>
                        </a>
                    }
                </div>
            </div>

            <div class="small text-muted">
                @group.Key.Username
            </div>
        </div>
    </div>
}
