@using Pandacap.ConfigurationObjects
@using Pandacap.PlatformLinks.Interfaces
@inject ApplicationInformation appInfo
@inject IPlatformLinkProvider platformLinkProvider

@{
    var platformLinks = await platformLinkProvider.GetProfileLinksAsync();
}

<p>
    <img width="50" height="50" src="/Blobs/Avatar" alt="" />
    <span style="display: inline-block; vertical-align: top">
        <span class="visually-hidden">
            Handle:
        </span>

        <strong>@appInfo.Username</strong>

        @if (platformLinks
            .Where(link => link.Category == PlatformLinkCategory.ActivityPub)
            .FirstOrDefault() is IPlatformLink ap)
        {
            <br />

            <span class="visually-hidden">
                ActivityPub / WebFinger handle:
            </span>

            <span class="small text-muted" style="user-select: all">@ap.Username</span>
        }

        @if (platformLinks
            .Where(link => link.Category == PlatformLinkCategory.ATProto)
            .FirstOrDefault() is IPlatformLink at)
        {
            <br />

            <span class="visually-hidden">
                atproto handle:
            </span>

            <span class="small text-muted" style="user-select: all">@at.Username</span>

            <img alt="@at.PlatformName icon"
                 title="@at.PlatformName"
                 src="/images/@at.IconFilename"
                 width="16"
                 height="16" />
        }
    </span>
</p>