@using Pandacap.Data
@model RemoteActivityPubReply

@{
    string username = Model.Username ?? Model.CreatedBy;
}

<section aria-label="Comment" style="border: 1px solid currentColor; padding: 1rem; margin-bottom: 1rem">
    <img width="25" height="25" src="@(Model.Usericon ?? "/images/trgray.svg")" alt="" />

    <span style="display: inline-block; vertical-align: top">
        <strong>
            <a href="@Model.CreatedBy" target="_blank">@username</a>
        </strong>
    </span>

    <br />

    <a class="small" asp-controller="RemotePosts" asp-action="Index" asp-route-id="@Model.ObjectId">
        @Model.CreatedAt
    </a>

    <br />
    <br />

    @Html.Raw(Model.Content)
</section>
