@using Pandacap.Data
@model ReplyModel

@{
    string username = string.IsNullOrWhiteSpace(Model.Username)
        ? Model.CreatedBy
        : Model.Username;
}

<section aria-label="Comment" style="border: 1px solid currentColor" class="p-3 mt-3">
    <img width="25" height="25" src="@(Model.Usericon ?? "/images/trgray.svg")" alt="" />

    <span style="display: inline-block; vertical-align: top">
        <strong>
            <a href="@Model.CreatedBy" target="_blank">@username</a>
        </strong>
    </span>

    <br />

    @Html.Raw(Model.HtmlContent)

    <a class="small" asp-controller="RemotePosts" asp-action="Index" asp-route-id="@Model.ObjectId">
        @Model.CreatedAt
    </a>

    @if (Model.Remote && User.Identity?.IsAuthenticated == true)
    {
        <br />

        <form asp-controller="RemoteReplies" asp-action="Forget" method="post" class="d-inline" onsubmit="confirm('Are you sure you want to remove this post from Pandacap?')">
            <input type="hidden" name="id" value="@Model.ObjectId" />
            <button type="submit" class="btn btn-sm btn-danger">Forget</button>
        </form>
    }

    @foreach (var reply in Model.Replies)
    {
        <div class="ml-4">
            <partial name="_Reply" model="@reply" />
        </div>
    }
</section>
