@using Pandacap.Data
@using Pandacap.HighLevel
@using Pandacap.Models
@model ListViewModel

@{
    ViewBag.Title = Model.Title;
}

@if (Model.Items.Any(item => item is IInboxPost))
{
    <form id="dismissForm" asp-controller="Inbox" asp-action="Dismiss" method="post"></form>
}

<h1>@Model.Title</h1>

<p>
    @if (Model.RSS)
    {
        <img src="~/images/feed-icon.svg" width="16" height="16" alt="" />
        <a href="@Context.Request.Path?format=atom" target="_blank">Atom</a>
        @:&nbsp;
    }

    @if (Model.Atom)
    {
        <img src="~/images/feed-icon.svg" width="16" height="16" alt="" />
        <a href="@Context.Request.Path?format=rss" target="_blank">RSS</a>
        @:&nbsp;
    }
</p>

@if (!Model.Items.Any())
{
    <p>
        Showing <strong>0</strong> items.
    </p>
}
else
{
    var minDate = Model.Items.Select(item => item.PostedAt).Min().UtcDateTime;
    var maxDate = Model.Items.Select(item => item.PostedAt).Max().UtcDateTime;

    <p>
        Showing
        <strong>@Model.Items.Count()</strong>
        item(s) posted between
        <strong>@minDate.ToLongDateString()</strong> (@minDate.ToShortTimeString())
        and
        <strong>@maxDate.ToLongDateString()</strong> (@maxDate.ToShortTimeString()).
    </p>

    var groups = Model.Items.GroupBy(item => new {
        Username = item.Username,
        ProfileUrl = item.ProfileUrl
    });

    foreach (var group in groups)
    {
        <partial name="_ListGroup" model="@group" />
    }

    @if (Model.Items.Any(item => item is IInboxPost))
    {
        <hr />

        <button type="button" id="selectAll" class="btn btn-secondary">
            Select / deselect all
        </button>

        <button form="dismissForm" type="submit" class="btn btn-secondary">
            Remove selected items from inbox
        </button>
    }

    @if (Model.Next is string id)
    {
        <hr />

        <a asp-route-q="@Model.Q"
           asp-route-next="@id"
           asp-route-count="@Model.Items.Count()"
           class="btn btn-primary">
            Next @Model.Items.Count() items &raquo;
        </a>
    }
}

<script type="text/javascript">
    document.getElementById("selectAll").addEventListener("click", e => {
        e.preventDefault();

        const checkboxes = document.getElementsByClassName("inboxItemCheckbox");
        let anyUnchecked = false;
        for (let i = 0; i < checkboxes.length; i++) {
            if (!checkboxes[i].checked) {
                anyUnchecked = true;
                break;
            }
        }
        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = anyUnchecked ? true : false;
        }
    });
</script>
