@using Pandacap.Data
@using Pandacap.HighLevel
@using Pandacap.Models
@model ListViewModel<IPost>

@{
    ViewBag.Title = Model.Title;
}

@if (!Model.Items.DisplayList.Any())
{
    <p>
        Showing <strong>0</strong> items.
    </p>
}
else
{
    var minDate = Model.Items.DisplayList.Select(item => item.Timestamp).Min().UtcDateTime;
    var maxDate = Model.Items.DisplayList.Select(item => item.Timestamp).Max().UtcDateTime;

    <p>
        Showing
        <strong>@Model.Items.DisplayList.Count()</strong>
        item(s) posted between
        <strong>@minDate.ToLongDateString()</strong> (@minDate.ToShortTimeString())
        and
        <strong>@maxDate.ToLongDateString()</strong> (@maxDate.ToShortTimeString()).
    </p>

    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model.Items.DisplayList)
            {
                string? url = item is DeviantArtDeviation deviation
                    ? $"/Post/{deviation.Id}"
                    : item.LinkUrl;
                <div class="@(item.Thumbnails.Any() ? "col-sm-4 col-md-3 text-center my-4" : "")">
                    @if (item is not DeviantArtDeviation)
                    {
                        <div class="mb-3">
                            <img height="50" src="@item.Usericon" alt="" />
                            <span style="display: inline-block; vertical-align: middle">
                                <strong>
                                    @item.Username
                                </strong>
                            </span>
                        </div>
                    }
                    @foreach (var image in item.Thumbnails)
                    {
                        <a href="@url">
                            <img src="@image.GetThumbnailSrc()"
                                    srcset="@image.GetThumbnailSrcset()"
                                    alt="@image.AltText"
                                    referrerpolicy="no-referrer"
                                    class="feed-image" />
                        </a>
                    }
                    <label>
                        <a href="@url">@item.DisplayTitle</a>
                        <br />
                        <span class="text-muted">(@item.Timestamp.UtcDateTime.ToLongDateString())</span>
                    </label>
                </div>
            }
        </div>
    </div>

    @if (Microsoft.FSharp.Core.OptionModule.ToObj(Model.Items.Next) is IPost nextPost)
    {
        <hr />

        <a asp-route-q="@Model.Q"
           asp-route-next="@nextPost.Id"
           asp-route-count="@Model.Items.DisplayList.Length"
           class="btn btn-primary">
            Next @Model.Items.DisplayList.Length items &raquo;
        </a>
    }
}

<script type="text/javascript">
    document.getElementById("selectAll").addEventListener("click", e => {
        e.preventDefault();

        const checkboxes = document.getElementsByClassName("inboxItemCheckbox");
        let anyUnchecked = false;
        for (let i = 0; i < checkboxes.length; i++) {
            if (!checkboxes[i].checked) {
                anyUnchecked = true;
                break;
            }
        }
        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = anyUnchecked ? true : false;
        }
    });
</script>

<style type="text/css">
    img.feed-image {
        height: 150px;
    }

    @@supports (object-fit: contain) {
        img.feed-image {
            width: 100%;
            object-fit: contain;
        }
    }
</style>
