@using Pandacap.Data
@using Pandacap.HighLevel
@using Pandacap.Models
@model ListViewModel

@{
    ViewBag.Title = Model.Title;
}

@if (Model.AllowDismiss)
{
    <form id="dismissForm" asp-controller="Inbox" asp-action="Dismiss" method="post"></form>
}

@if (!Model.Items.Current.Any())
{
    <p>
        Showing <strong>0</strong> items.
    </p>
}
else
{
    var minDate = Model.Items.Current.Select(item => item.Timestamp).Min().UtcDateTime;
    var maxDate = Model.Items.Current.Select(item => item.Timestamp).Max().UtcDateTime;

    <p>
        Showing
        <strong>@Model.Items.Current.Count()</strong>
        item(s) posted between
        <strong>@minDate.ToLongDateString()</strong> (@minDate.ToShortTimeString())
        and
        <strong>@maxDate.ToLongDateString()</strong> (@maxDate.ToShortTimeString()).
    </p>

    if (Model.CanBeSyndicationFeed)
    {
        <p>
            <a href="?format=rss">RSS feed</a>
            &middot;
            <a href="?format=atom">Atom feed</a>
        </p>
    }

    var groups = Model.Items.Current.GroupBy(item => new {
        Username = item.Username,
        ProfileUrl = item.ProfileUrl,
        HasThumbnails = item.Thumbnails.Any()
    });

    foreach (var group in groups)
    {
        <partial name="_ListGroup" model="@group" />
    }

    @if (Model.AllowDismiss)
    {
        <hr />

        <button type="button" id="selectAll" class="btn btn-secondary">
            Select / deselect all
        </button>

        <button form="dismissForm" type="submit" class="btn btn-secondary">
            Remove selected items from inbox
        </button>
    }

    @if (Microsoft.FSharp.Core.OptionModule.ToObj(Model.Items.Next) is IPost nextPost)
    {
        <hr />

        <a asp-route-q="@Model.Q"
           asp-route-next="@nextPost.Id"
           asp-route-count="@Model.Items.Current.Length"
           class="btn btn-primary">
            Next @Model.Items.Current.Length items &raquo;
        </a>
    }
}

<script type="text/javascript">
    document.getElementById("selectAll").addEventListener("click", e => {
        e.preventDefault();

        const checkboxes = document.getElementsByClassName("inboxItemCheckbox");
        let anyUnchecked = false;
        for (let i = 0; i < checkboxes.length; i++) {
            if (!checkboxes[i].checked) {
                anyUnchecked = true;
                break;
            }
        }
        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = anyUnchecked ? true : false;
        }
    });
</script>
