@using Pandacap.Data
@using Pandacap.HighLevel
@using Pandacap.Models
@model ListViewModel

@if (!Model.Items.Any())
{
    <p>
        Showing <strong>0</strong> items.
    </p>
}
else
{
    var minDate = Model.Items.Select(item => item.Timestamp).Min().UtcDateTime;
    var maxDate = Model.Items.Select(item => item.Timestamp).Max().UtcDateTime;

    <p>
        Showing
        <strong>@Model.Items.Count()</strong>
        item(s) posted between
        <strong>@minDate.ToLongDateString()</strong> (@minDate.ToShortTimeString())
        and
        <strong>@maxDate.ToLongDateString()</strong> (@maxDate.ToShortTimeString()).
    </p>

    <form asp-action="Dismiss" method="post">
        @foreach (var group in Model.Items.GroupBy(item => (
            item.Username,
            item.Usericon
        )))
        {
            <h1>
                <img height="50" src="@group.Key.Usericon" alt="" />
                <div style="display: inline-block; vertical-align: top">
                    <strong>
                        @group.Key.Username
                    </strong>
                </div>
            </h1>

            <div class="container-fluid">
                <div class="row">
                    @foreach (var item in group)
                    {
                        if (item is IImagePost imagePost && imagePost.Thumbnails.Any())
                        {
                            @foreach (var image in imagePost.Thumbnails)
                            {
                                <div class="col-sm-4 col-md-3 text-center my-4">
                                    <a href="/Posts/@item.Id" target="_blank">
                                        <img src="@image.GetThumbnailSrc()"
                                             srcset="@image.GetThumbnailSrcset()"
                                             alt="@image.AltText"
                                             referrerpolicy="no-referrer"
                                             class="feed-image" />
                                    </a>
                                    <label>
                                        @if (Model.Controller == "Inbox")
                                        {
                                            <input type="checkbox" name="id" class="inboxItemCheckbox" value="@item.Id" />
                                        }
                                        <a href="/Posts/@item.Id">@item.DisplayTitle</a>
                                    </label>
                                </div>
                            }
                        }
                        else
                        {
                            <label>
                                @if (Model.Controller == "Inbox")
                                {
                                    <input type="checkbox" name="id" class="inboxItemCheckbox" value="@item.Id" />
                                }
                                <a href="/Posts/@item.Id">@item.DisplayTitle</a>
                                <span class="text-muted">(@item.Timestamp.UtcDateTime.ToLongDateString())</span>
                            </label>
                        }
                    }
                </div>
            </div>
        }

        @if (Model.Controller == "Inbox")
        {
            <hr />

            <button type="button" id="selectAll" class="btn btn-secondary">
                Select / deselect all
            </button>

            <button type="submit" class="btn btn-secondary">
                Remove selected items from inbox
            </button>
        }

        @if (Model.Items.LastOrDefault() is IPost lastPost)
        {
            <hr />

            <a asp-controller="@Model.Controller"
               asp-action="@Model.Action"
               asp-route-after="@lastPost.Id"
               asp-route-count="@Model.Count"
               class="btn btn-primary">
                Next @Model.Count items &raquo;
            </a>
        }
    </form>
}

<script type="text/javascript">
    document.getElementById("selectAll").addEventListener("click", e => {
        e.preventDefault();

        const checkboxes = document.getElementsByClassName("inboxItemCheckbox");
        let anyUnchecked = false;
        for (let i = 0; i < checkboxes.length; i++) {
            if (!checkboxes[i].checked) {
                anyUnchecked = true;
                break;
            }
        }
        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = anyUnchecked ? true : false;
        }
    });
</script>

<style type="text/css">
    h1 {
        margin-bottom: 1rem;
    }

    img.feed-image {
        height: 150px;
    }

    @@supports (object-fit: contain) {
        img.feed-image {
            width: 100%;
            object-fit: contain;
        }
    }
</style>
