@using Pandacap.Data
@using Pandacap.LowLevel
@model AddressedPost

<dl>
    @foreach (var user in Model.Users)
    {
        <dt>Recipient</dt>
        <dd>
            @user
        </dd>
    }
    @foreach (var community in Model.Communities)
    {
        <dt>Community</dt>
        <dd>
            @community
        </dd>
    }
    @if (Model.InReplyTo != null)
    {
        <dt>In reply to</dt>
        <dd>
            <a asp-controller="RemotePosts" asp-action="Index" asp-id="@Model.InReplyTo">
                @Model.InReplyTo
            </a>
        </dd>
    }
</dl>

<hr />

@Html.Raw(Model.HtmlContent)

<p class="text-muted">
    @Model.PublishedTime
</p>

<hr />

<p>
    <form asp-action="Delete" class="d-inline" onsubmit="confirm('Are you sure you want to delete this post?')">
        <input type="hidden" name="id" value="@Model.Id" />
        <button class="btn btn-danger">Delete</button>
    </form>
</p>
