@using Pandacap.Data
@using Pandacap.LowLevel
@model AddressedPostViewModel

<dl>
    @foreach (var user in Model.Users)
    {
        <dt>Recipient</dt>
        <dd>
            <partial name="_Addressee" model="@user" />
        </dd>
    }
    @foreach (var community in Model.Communities)
    {
        <dt>Community</dt>
        <dd>
            <partial name="_Addressee" model="@community" />
        </dd>
    }
    @if (Model.Post.InReplyTo != null)
    {
        <dt>In reply to</dt>
        <dd>
            <a asp-controller="RemotePosts" asp-action="Index" asp-route-id="@Model.Post.InReplyTo">
                @Model.Post.InReplyTo
            </a>
        </dd>
    }
</dl>

<hr />

@if (Model.Post.Title != null)
{
    <p>
        <strong>@Model.Post.Title</strong>
    </p>
}

@Html.Raw(Model.Post.HtmlContent)

<p class="text-muted">
    @Model.Post.PublishedTime
</p>

@if (Model.Replies.Any())
{
    <h2>Comments</h2>

    foreach (var reply in Model.Replies)
    {
        <partial name="_RemoteReply" model="@reply" />
    }
}

@if (User.Identity?.IsAuthenticated == true)
{
    <hr />

    <p>
        <form asp-action="Delete" class="d-inline" onsubmit="confirm('Are you sure you want to delete this post?')">
            <input type="hidden" name="id" value="@Model.Post.Id" />
            <button class="btn btn-danger">Delete</button>
        </form>
    </p>
}
