@using Pandacap.Data

@model GeneralFeedItem

@{
    ViewBag.Title = "View Feed Item";
}

<h1>
    <img height="50" src="@(Model.DisplayAuthor.FeedIconUrl ?? "/images/trgray.svg")" alt="" />
    <span style="display: inline-block; vertical-align: top">
        <strong>
            <a href="@Model.DisplayAuthor.FeedWebsiteUrl" target="_blank">
                @(Model.DisplayAuthor.FeedTitle)
            </a>
        </strong>
    </span>
</h1>

@Html.Raw(new Ganss.Xss.HtmlSanitizer().Sanitize(Model.Data.HtmlDescription))

<p class="text-muted">
    <a href="@Model.Data.Url" target="_blank">
        @Model.Data.Timestamp
    </a>
</p>

<hr />

<p>
    <form asp-action="AddToFavorites" class="d-inline" onsubmit="return confirm('Are you sure you want to add this post to your favorites?')">
        <input type="hidden" name="id" value="@Model.Id" />
        <button class="btn btn-primary">Add to Favorites</button>
    </form>
    <form asp-action="RemoveFromFavorites" class="d-inline" onsubmit="return confirm('Are you sure you want to remove this post from your favorites?')">
        <input type="hidden" name="id" value="@Model.Id" />
        <button class="btn btn-danger">Remove from Favorites</button>
    </form>

    @if (Model.Data.AudioUrl != null)
    {
        <a class="btn btn-outline-primary" asp-controller="Podcast" asp-action="Player" asp-route-id="@Model.Id" target="_blank" onclick="event.preventDefault(); window.open(event.target.href, '_blank', 'popup=true,width=600,height=300')">
            Launch player
        </a>
    }
</p>
