@using Pandacap.Data
@using Pandacap.Models.ActivityPubInbox
@model InboxViewModel

@if (Model.InboxItems.Any())
{
    <p>
        @Model.InboxItems.Select(item => item.Timestamp).Min().Date.ToLongDateString()
        to
        @Model.InboxItems.Select(item => item.Timestamp).Max().Date.ToLongDateString()
    </p>
}

<form asp-action="Dismiss"
      method="post">

    @foreach (var group in Model.InboxItems.GroupBy(item => (
        item.Username,
        item.Usericon
    )))
    {
        <h1>
            <img height="50" src="@group.Key.Usericon" alt="" />
            <div style="display: inline-block; vertical-align: top">
                <strong>
                    @group.Key.Username
                </strong>
            </div>
        </h1>

        <div class="container-fluid">
            <div class="row">
                @foreach (var item in group)
                {
                    string? excerpt = item.Content;
                    if (excerpt != null && excerpt.Length > 40)
                    {
                        excerpt = excerpt.Substring(0, 40) + "...";
                    }
                    <div class="col-sm-4 col-md-3 text-center my-4">
                        <a href="@item.Id" target="_blank">
                            <img src="@((item as ActivityPubInboxImagePost)?.ThumbnailUrl)"
                                 alt="View on original site"
                                 referrerpolicy="no-referrer"
                                 class="feed-image" />
                        </a>
                        <label>
                            <input type="checkbox" name="id" class="inboxItemCheckbox" value="@item.Id" />
                            @(item.Name ?? excerpt ?? item.Id.ToString())
                        </label>
                    </div>
                }
            </div>
        </div>
    }

    <hr />

    <button type="button" id="selectAll" class="btn btn-secondary">
        Select / deselect all
    </button>

    <button type="submit" class="btn btn-secondary">
        Remove selected items from inbox
    </button>

    <hr />

    @if (Model.PrevOffset is int prevOffset)
    {
        <a asp-controller="Inbox"
           asp-action="@Model.Action"
           asp-route-offset="@prevOffset"
           asp-route-count="@Model.Count"
           class="btn btn-primary">
            &laquo; Previous @Model.Count items
        </a>
    }

    @if (Model.NextOffset is int nextOffset)
    {
        <a asp-controller="Inbox"
           asp-action="@Model.Action"
           asp-route-offset="@nextOffset"
           asp-route-count="@Model.Count"
           class="btn btn-primary">
            Next @Model.Count items &raquo;
        </a>
    }
</form>

<script type="text/javascript">
    document.getElementById("selectAll").addEventListener("click", e => {
        e.preventDefault();

        const checkboxes = document.getElementsByClassName("inboxItemCheckbox");
        let anyUnchecked = false;
        for (let i = 0; i < checkboxes.length; i++) {
            if (!checkboxes[i].checked) {
                anyUnchecked = true;
                break;
            }
        }
        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = anyUnchecked ? true : false;
        }
    });
</script>

<style type="text/css">
    h1 {
        margin-bottom: 1rem;
    }

    img.feed-image {
        height: 150px;
    }

    @@supports (object-fit: contain) {
        img.feed-image {
            width: 100%;
            object-fit: contain;
        }
    }
</style>
