@using Pandacap.Data
@using Pandacap.Models.Inbox
@model InboxViewModel<DeviantArtInboxItem>

<form asp-controller="Inbox"
      asp-action="Dismiss"
      method="post">

    <ul>
        @foreach (var item in Model.InboxItems)
        {
            <li>
                <label style="margin: 0.5em 0">
                    <input type="checkbox" name="id" value="@item.Id" />
                    <img height="50" src="@item.Usericon" alt="" />
                    <div style="display: inline-block; vertical-align: top">
                        <strong>
                            @(item.Username ?? item.CreatedBy.ToString())
                        </strong>
                        <br />
                        <a href="@item.LinkUrl">
                            @(item.Title ?? item.Id.ToString())
                        </a>
                    </div>
                </label>
            </li>
        }
    </ul>

    <hr />

    <button type="submit" class="btn btn-secondary">
        Remove selected items from inbox
    </button>

    <hr />

    @if (Model.PrevOffset is int prevOffset)
    {
        <a asp-controller="Inbox"
           asp-action="@Model.Action"
           asp-route-offset="@prevOffset"
           asp-route-count="@Model.Count"
           class="btn btn-primary">
            &laquo; Previous @Model.Count items
        </a>
    }

    @if (Model.NextOffset is int nextOffset)
    {
        <a asp-controller="Inbox"
           asp-action="@Model.Action"
           asp-route-offset="@nextOffset"
           asp-route-count="@Model.Count"
           class="btn btn-primary">
            Next @Model.Count items &raquo;
        </a>
    }
</form>
