@using Pandacap.Data
@using Pandacap.HighLevel
@using Pandacap.Models
@model IEnumerable<RssFeed>

@{
    ViewBag.Title = "Feeds";
}

@if (!Model.Any())
{
    <p>
        This user does not currently follow any Atom or RSS feeds.
    </p>
}
else
{
    @foreach (var item in Model)
    {
        <div class="mb-3">
            <div>
                <img height="50" src="@item.FeedIconUrl" alt="" />
                <span style="display: inline-block; vertical-align: top">
                    <strong>
                        @(item.FeedTitle ?? $"{item.Id}")
                    </strong>
                    <br />
                    <a href="@item.FeedUrl">@item.FeedUrl</a>
                    <br />
                    <a href="@item.FeedWebsiteUrl">@item.FeedWebsiteUrl</a>
                </span>
            </div>

            @if (User.Identity?.IsAuthenticated == true)
            {
                <details>
                    <summary>Options</summary>

                    <form asp-action="RemoveFeed">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-outline-danger">Unfollow @(item.FeedTitle ?? $"{item.Id}")</button>
                    </form>
                </details>
            }
        </div>
    }
}
