@using Pandacap.Data
@using Pandacap.Clients
@using Pandacap.HighLevel
@using Pandacap.Models
@model IEnumerable<IFollow>

@{
    ViewBag.Title = "Following";
}

@if (!Model.Any())
{
    <p>
        This user does not follow any other feeds or actors.
    </p>
}
else
{
    <div class="user-blocks">
        @foreach (var item in Model)
        {
            if (!Uri.TryCreate(item.Url, UriKind.Absolute, out Uri? uri))
            {
                continue;
            }

            <div class="user-block">
                <a href="@item.LinkUrl" class="avatar"><img width="50" height="50" src="@(item.IconUrl ?? "/images/trgray.svg")" alt="" /></a>
                <span class="text">
                    <strong>
                        <a href="@item.LinkUrl">@item.Username</a>
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            if (item is Follow f)
                            {
                                if (!f.Accepted)
                                {
                                    @:(pending)
                                }
                            }
                        }
                    </strong>

                    <br />

                    @foreach (var badge in item.GetBadges())
                    {
                        <span class="badge" style="background-color: @badge.Background; color: @badge.Color">
                            @badge.Text
                        </span>
                    }

                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <br />

                        if (item is Follow f)
                        {
                            <a asp-action="UpdateFollow" asp-route-id="@f.ActorId" class="btn btn-outline-primary btn-sm py-0">
                                Options
                            </a>
                        }
                        else if (item is ATProtoFeed a)
                        {
                            <form asp-action="RefreshATProtoFeed" class="d-inline">
                                <input type="hidden" name="did" value="@a.DID" />
                                <button type="submit" class="btn btn-outline-primary btn-sm py-0">Refresh</button>
                            </form>

                            <a asp-action="UpdateATProtoFeed" asp-route-did="@a.DID" class="btn btn-outline-primary btn-sm py-0">
                                Options
                            </a>
                        }
                        else if (item is GeneralFeed r)
                        {
                            <form asp-action="RefreshFeed" class="d-inline">
                                <input type="hidden" name="id" value="@r.Id" />
                                <button type="submit" class="btn btn-outline-primary btn-sm py-0">Refresh</button>
                            </form>

                            <form asp-action="RemoveFeed" class="d-inline" onsubmit="return confirm('Are you sure you want to unfollow this feed?')">
                                <input type="hidden" name="id" value="@r.Id" />
                                <button type="submit" class="btn btn-outline-danger btn-sm py-0">Unfollow</button>
                            </form>
                        }
                    }
                </span>
            </div>
        }
    </div>
}

@if (User.Identity?.IsAuthenticated == true)
{
    <hr />

    <h2>Follow user / feed</h2>

    <form asp-action="Follow">
        <div class="row mb-3">
            <div class="col-md-9">
                <label for="id" class="form-label">
                    ActivityPub actor ID (URL)
                </label>
                <input type="url" class="form-control" id="id" name="id" placeholder="https://" />
            </div>
            <div class="col-md-3 mt-auto">
                <button type="submit" class="btn btn-primary">
                    Send follow request
                </button>
            </div>
        </div>
    </form>

    <form asp-action="FollowHandle">
        <div class="row mb-3">
            <div class="col-md-9">
                <label for="mastodonHandle" class="form-label">
                    Mastodon handle
                </label>
                <input type="text" class="form-control" id="mastodonHandle" name="handle" placeholder="@@user@@example.com" />
            </div>
            <div class="col-md-3 mt-auto">
                <button type="submit" class="btn btn-primary">
                    Send follow request
                </button>
            </div>
        </div>
    </form>

    <form asp-action="FollowThreadsHandle">
        <div class="row mb-3">
            <div class="col-md-9">
                <label for="threadsHandle" class="form-label">
                    Threads handle
                </label>
                <input type="text" class="form-control" id="threadsHandle" name="handle" />
            </div>
            <div class="col-md-3 mt-auto">
                <button type="submit" class="btn btn-primary">
                    Send follow request
                </button>
            </div>
        </div>
    </form>

    <form asp-action="AddATProtoFeed">
        <div class="row mb-3">
            <div class="col-md-9">
                <label for="did" class="form-label">
                    ATProto handle / DID
                </label>
                <input type="text" class="form-control" id="handle" name="handle" />
            </div>
            <div class="col-md-3 mt-auto">
                <button type="submit" class="btn btn-primary">
                    Add
                </button>
            </div>
        </div>
    </form>

    <form asp-action="AddFeed">
        <div class="row mb-3">
            <div class="col-md-9">
                <label for="rssurl" class="form-label">
                    Atom/RSS URL
                </label>
                <input type="url" class="form-control" id="rssurl" name="url" placeholder="https://" />
            </div>
            <div class="col-md-3 mt-auto">
                <button type="submit" class="btn btn-primary">
                    Add
                </button>
            </div>
        </div>
    </form>
}

<style type="text/css">
    @@media (min-width: 1000px) {
        .user-blocks {
            column-width: 300px;
        }
    }

    .user-block {
        display: inline-flex;
        margin-bottom: 1em;
        margin-right: 1em;
        width: 100%;
    }

    .user-block > .avatar {
        flex: 0 0 auto;
        margin-right: 1em;
    }

    .user-block > .text {
        flex: 1 0 auto;
        flex-basis: 100px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
