@using Pandacap.Data
@using Pandacap.Clients
@using Pandacap.HighLevel
@using Pandacap.Models
@model IEnumerable<IFollow>

@{
    ViewBag.Title = "Following";
}

@if (!Model.Any())
{
    <p>
        This user does not follow any other feeds or ActivityPub actors.
    </p>
}
else
{
    @foreach (var item in Model)
    {
        if (!Uri.TryCreate(item.Url, UriKind.Absolute, out Uri? uri))
        {
            continue;
        }

        <div class="mb-3">
            <div>
                <a href="@item.LinkUrl"><img height="50" src="@(item.IconUrl ?? "/images/trgray.svg")" alt="" /></a>
                <span style="display: inline-block; vertical-align: top">
                    <strong>
                        <a href="@item.LinkUrl">@item.Username</a>
                        @if (User.Identity?.IsAuthenticated == true
                            && item.Filtered)
                        {
                            <i class="text-info">(filtered)</i>
                            if (item is Follow f)
                            {
                                if (!f.Accepted)
                                {
                                    @:(pending)
                                }
                            }
                        }
                    </strong>

                    <br />

                    @foreach (var badge in item.GetBadges())
                    {
                        <span class="badge" style="background-color: @badge.Background; color: @badge.Color">
                            @badge.Text
                        </span>
                    }

                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        if (item is Follow f)
                        {
                            <a asp-action="UpdateFollow" asp-route-id="@f.ActorId" class="btn btn-outline-primary btn-sm py-0">
                                Options
                            </a>
                        }
                        else if (item is ATProtoFeed a)
                        {
                            <form asp-action="RefreshATProtoFeed" class="d-inline">
                                <input type="hidden" name="did" value="@a.DID" />
                                <button type="submit" class="btn btn-outline-primary btn-sm py-0">Refresh</button>
                            </form>

                            <a asp-action="UpdateATProtoFeed" asp-route-did="@a.DID" class="btn btn-outline-primary btn-sm py-0">
                                Options
                            </a>
                        }
                        else if (item is BlueskyFeed b)
                        {
                            <a asp-action="UpdateBlueskyFeed" asp-route-did="@b.DID" class="btn btn-outline-primary btn-sm py-0">
                                Options
                            </a>
                        }
                        else if (item is RssFeed r)
                        {
                            <form asp-action="RefreshFeed" class="d-inline">
                                <input type="hidden" name="id" value="@r.Id" />
                                <button type="submit" class="btn btn-outline-primary btn-sm py-0">Refresh</button>
                            </form>

                            <form asp-action="RemoveFeed" class="d-inline" onsubmit="return confirm('Are you sure you want to unfollow this feed?')">
                                <input type="hidden" name="id" value="@r.Id" />
                                <button type="submit" class="btn btn-outline-danger btn-sm py-0">Unfollow</button>
                            </form>
                        }
                    }
                </span>
            </div>
        </div>
    }

    @if (User.Identity?.IsAuthenticated == true)
    {
        <hr />

        <form asp-action="Follow">
            <div class="mb-3">
                <label for="id" class="form-label">
                    ActivityPub actor ID (URL)
                </label>
                <input type="url" class="form-control" id="id" name="id" placeholder="https://" />
                <div class="form-text">Mastodon-style handles (of the form <tt>@@user@@hostname</tt>) are not supported.</div>
            </div>
            <button type="submit" class="btn btn-primary">
                Send follow request
            </button>
        </form>

        <hr />

        <form asp-action="AddATProtoFeed">
            <div class="mb-3">
                <label for="did" class="form-label">
                    ATProto handle
                </label>
                <input type="text" class="form-control" id="handle" name="handle" />
            </div>
            <button type="submit" class="btn btn-primary">
                Add
            </button>
        </form>

        <hr />

        <form asp-action="AddBlueskyFeed">
            <div class="mb-3">
                <label for="handle" class="form-label">
                    Bluesky handle or DID
                </label>
                <input type="text" class="form-control" id="handle" name="handle" />
            </div>
            <button type="submit" class="btn btn-primary">
                Add
            </button>
        </form>

        <hr />

        <form asp-action="AddFeed">
            <div class="mb-3">
                <label for="rssurl" class="form-label">
                    Atom/RSS URL
                </label>
                <input type="url" class="form-control" id="rssurl" name="url" placeholder="https://" />
            </div>
            <button type="submit" class="btn btn-primary">
                Add
            </button>
        </form>
    }
}
