@using Pandacap.Data
@using Pandacap.LowLevel
@using Pandacap.HighLevel
@using Pandacap.Models
@model FollowerViewModel
@inject ApplicationInformation appInfo

@{
    ViewBag.Title = "Followers";
}

@if (!Model.Items.Any())
{
    <p>
        There are no ActivityPub actors who follow this user.
    </p>
}
else
{
    @foreach (var item in Model.Items)
    {
        <div class="mb-3" style="@(Model.GhostedActors.Contains(item.ActorId) ? "opacity: 0.5; filter: grayscale(100%);" : "")">
            <div>
                <img height="50" src="@(item.IconUrl ?? "/images/trgray.svg")" alt="" />
                <span style="display: inline-block; vertical-align: top">
                    <strong>
                        @(item.PreferredUsername ?? item.ActorId)
                    </strong>
                    <br />
                    <a href="@item.ActorId">@item.ActorId</a>
                    @if (Model.GhostedActors.Contains(item.ActorId) == true)
                    {
                        @:(disabled)
                    }
                </span>
            </div>
        </div>
    }
}
