@using Pandacap.Data
@using Pandacap.LowLevel
@using Pandacap.HighLevel
@using Pandacap.Models
@model FollowerViewModel
@inject ApplicationInformation appInfo

@{
    ViewBag.Title = Model.Title;
}

@if (!Model.Items.DisplayList.Any())
{
    <p>
        There are no other ActivityPub users who follow this user.
    </p>
}
else
{
    @foreach (var item in Model.Items.DisplayList)
    {
        <div class="mb-3" style="@(Model.GhostedActors.Contains(item.ActorId) ? "opacity: 0.5; filter: grayscale(100%);" : "")">
            <div>
                <img height="50" src="@item.IconUrl" alt="" />
                <span style="display: inline-block; vertical-align: top">
                    <strong>
                        @(item.PreferredUsername ?? item.ActorId)
                    </strong>
                    <br />
                    <a href="@item.ActorId">@item.ActorId</a>
                    @if (item.Pending)
                    {
                        @:(pending)
                    }
                    @if (Model.GhostedActors.Contains(item.ActorId) == true)
                    {
                        @:(disabled)
                    }
                </span>
            </div>
        </div>
    }

    @if (Microsoft.FSharp.Core.OptionModule.ToObj(Model.Items.Next) is IRemoteActorRelationship nextActor)
    {
        <hr />

        <a asp-route-q="@Model.Q"
           asp-route-next="@nextActor.ActorId"
           asp-route-count="@Model.Items.DisplayList.Length"
           class="btn btn-outline-primary">
            Next @Model.Items.DisplayList.Length items &raquo;
        </a>
    }
}
