@using Pandacap.Data
@using Pandacap.HighLevel
@using Pandacap.Models
@model ListViewModel<Follow>

@{
    ViewBag.Title = Model.Title;
}

@if (!Model.Items.DisplayList.Any())
{
    <p>
        This user does not currently follow any other ActivityPub users.
    </p>
}
else
{
    @foreach (var item in Model.Items.DisplayList)
    {
        <div class="mb-3" style="@(item.Ghost ? "opacity: 0.5; filter: grayscale(100%);" : "")">
            <div>
                <img height="50" src="@(item.IconUrl ?? "/images/trgray.svg")" alt="" />
                <span style="display: inline-block; vertical-align: top">
                    <strong>
                        @(item.PreferredUsername ?? item.ActorId)
                    </strong>
                    <br />
                    <a href="@item.ActorId">@item.ActorId</a>
                    @if (item.Pending)
                    {
                        @:(pending)
                    }
                    @if (item.Ghost)
                    {
                        @:(disabled)
                    }
                </span>
            </div>

            @if (User.Identity?.IsAuthenticated == true)
            {
                <a asp-action="UpdateFollow" asp-route-id="@item.ActorId" class="small">
                    Options
                </a>
            }
        </div>
    }

    @if (Microsoft.FSharp.Core.OptionModule.ToObj(Model.Items.Next) is IRemoteActorRelationship nextActor)
    {
        <hr />

        <a asp-route-q="@Model.Q"
           asp-route-next="@nextActor.ActorId"
           asp-route-count="@Model.Items.DisplayList.Length"
           class="btn btn-primary">
            Next @Model.Items.DisplayList.Length items &raquo;
        </a>
    }

    <hr />

    @if (User.Identity?.IsAuthenticated == true)
    {
        <form asp-action="Follow">
            <div class="mb-3">
                <label for="id" class="form-label">
                    Actor ID (URL)
                </label>
                <input type="url" class="form-control" id="id" name="id" placeholder="https://" />
                <div class="form-text">Mastodon-style handles (of the form <tt>@@user@@hostname</tt>) are not supported.</div>
            </div>
            <button type="submit" class="btn btn-primary">
                Send follow request
            </button>
        </form>
    }
}
