@using Pandacap.ConfigurationObjects
@using Pandacap.Data
@using Pandacap.HighLevel
@using Pandacap.HighLevel.PlatformLinks
@model ProfileViewModel
@inject ApplicationInformation appInfo

@{
    ViewData["Title"] = "Main Page";
}

<p>
    <img width="50" height="50" src="/Blobs/Avatar" alt="" />
    <span style="display: inline-block; vertical-align: top">
        <strong>@appInfo.Username</strong>

        @if (Model.PlatformLinks.FirstOrDefault(link => link.Category == PlatformLinkCategory.ActivityPub) is IPlatformLink apLink)
        {
            <br />

            <img alt="@apLink.PlatformName icon"
                 src="@apLink.IconUrl"
                 width="16"
                 height="16" />

            <span class="small text-muted" style="user-select: all">@apLink.Username</span>
        }

        @if (Model.PlatformLinks.FirstOrDefault(link => link.Category == PlatformLinkCategory.ATProto) is IPlatformLink atLink)
        {
            <br />

            <img alt="@atLink.PlatformName icon"
                 src="@atLink.IconUrl"
                 width="16"
                 height="16" />

            <span class="small text-muted" style="user-select: all">@atLink.Username</span>
        }
    </span>
</p>

<p>
    <a asp-action="FollowingAndFeeds">Following (@Model.FollowingCount)</a>

    @if (User.Identity?.IsAuthenticated == true)
    {
        @:&middot;
        <a asp-action="Followers">Followers (@Model.FollowerCount)</a>
        @:&middot;
        <a asp-controller="ActivityPubPosts" asp-action="Index">Posts</a>
        @:&middot;
        <a asp-controller="Favorites" asp-action="Index">Favorites (@Model.FavoritesCount)</a>
    }
</p>

<div class="social-block">
    View on:
</div>

@foreach (var linkGroup in Model.PlatformLinks.GroupBy(link => new
{
    link.Category,
    Name = link.Category == PlatformLinkCategory.External
        ? link.PlatformName
        : null
}))
{
    <div class="social-block">
        @foreach (var link in linkGroup)
        {
            if (link.ViewProfileUrl == null)
            {
                continue;
            }

            <div>
                <a href="@link.ViewProfileUrl" target="_blank">
                    <img alt=""
                         src="@link.IconUrl"
                         class="social-icon-inline" />

                    @link.PlatformName
                </a>
            </div>
        }
    </div>
}

<h2 class="my-4">
    Newest artwork
</h2>

<form asp-action="Search" method="get">
    <div class="input-group mb-3">
        <input name="q"
               type="text"
               class="form-control"
               placeholder="Search (ID / Title / Tag)"
               aria-label="Search by ID, title, or tag">
        <button class="btn btn-primary" type="submit">
            Search
        </button>
    </div>
</form>

<partial name="_ListGroup" model="@Model.RecentArtwork" />

<p align="right">
    <a asp-controller="Gallery" asp-action="Artwork" class="btn btn-outline-primary">
        View more &raquo;
    </a>
</p>

@if (Model.RecentFavorites.Any())
{
    <h2 class="my-4">
        Favorites
    </h2>

    <partial name="_List" model="@Model.RecentFavorites" />

    <p align="right">
        <a asp-controller="CompositeFavorites" asp-action="Artwork" class="btn btn-outline-primary">
            View more &raquo;
        </a>
    </p>
}

@if (Model.RecentTextPosts.Any())
{
    <h2 class="my-4">
        Recent text posts
    </h2>

    <partial name="_ListGroup" model="@Model.RecentTextPosts" />

    <p align="right">
        <a asp-controller="Gallery" asp-action="TextPosts" class="btn btn-outline-primary">
            View more &raquo;
        </a>
    </p>
}

@if (Model.RecentLinks.Any())
{
    <h2 class="my-4">
        Recent links
    </h2>

    <partial name="_ListGroup" model="@Model.RecentLinks" />

    <p align="right">
        <a asp-controller="Gallery" asp-action="Links" class="btn btn-outline-primary">
            View more &raquo;
        </a>
    </p>
}

@if (User.Identity?.IsAuthenticated == true)
{
    <div id="admin" class="container mb-3">
        <div class="row">
            <div class="col col-12">
                <div class="card my-3">
                    <div class="card-header">
                        ActivityPub
                    </div>
                    <div class="card-body">
                        <form method="get" asp-controller="RemotePosts" asp-action="Index">
                            <div class="input-group">
                                <span class="input-group-text">Object ID</span>
                                <input name="id"
                                       type="text"
                                       class="form-control"
                                       placeholder="https://">
                                <button class="btn btn-outline-secondary" type="submit">
                                    View post
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-xl-4">
                <div class="card my-3">
                    <div class="card-header">
                        Bridgy Fed
                    </div>
                    <div class="card-body text-center">
                        <form style="display: inline" asp-controller="BridgyFed" asp-action="Start" method="post" onsubmit="return confirm('Are you sure you want to enable Bridgy Fed?')">
                            <button class="btn btn-danger">
                                Enable
                            </button>
                        </form>

                        <form style="display: inline" asp-controller="BridgyFed" asp-action="Stop" method="post" onsubmit="return confirm('Are you sure you want to deactivate Bridgy Fed and remove this Pandacap server\'s ActivityPub account from Bluesky?')">
                            <button class="btn btn-danger">
                                Disable
                            </button>
                        </form>

                        <hr />

                        <form style="display: inline" asp-controller="BridgyFed" asp-action="Help" method="post">
                            <button class="btn btn-primary">
                                Request info
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-xl-4">
                <div class="card my-3">
                    <div class="card-header">
                        DeviantArt
                    </div>
                    <div class="card-body text-center">
                        <a asp-controller="DeviantArt" asp-action="HomeFeed" class="btn btn-outline-primary">
                            View home feed
                        </a>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-xl-4">
                <div class="card my-3">
                    <div class="card-header">
                        Credentials
                    </div>
                    <div class="card-body text-center">
                        <a asp-controller="FurAffinity" asp-action="Setup" class="btn btn-outline-primary mb-2">
                            Add Fur Affinity account
                        </a>
                        <br />
                        <a asp-controller="Weasyl" asp-action="Setup" class="btn btn-outline-primary mb-2">
                            Add Weasyl account
                        </a>
                        <br />
                        <a href="/Identity/Account/Manage/ExternalLogins" class="btn btn-outline-primary">
                            Add other accounts
                        </a>
                        <hr>
                        <a asp-controller="ExternalCredentials" asp-action="Index" class="btn btn-outline-primary">
                            Remove accounts
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
