@using Pandacap.ConfigurationObjects
@using Pandacap.Data
@using Pandacap.HighLevel
@model ProfileViewModel
@inject ApplicationInformation appInfo

@{
    ViewData["Title"] = "Main Page";
}

<p>
    <img width="50" height="50" src="/Blobs/Avatar" alt="" />
    <span style="display: inline-block; vertical-align: top">
        <strong>@appInfo.Username</strong>
        <br />
        <span class="small text-muted" style="user-select: all">@@@(appInfo.Username)@@@(appInfo.ApplicationHostname)</span>
    </span>
</p>

<p>
    <a asp-action="FollowingAndFeeds">Following (@Model.FollowingCount)</a>

    @if (User.Identity?.IsAuthenticated == true)
    {
        @:&middot;
        <a asp-action="Followers">Followers (@Model.FollowerCount)</a>
        @:&middot;
        <a asp-controller="ActivityPubPosts" asp-action="Index">Posts</a>
        @:&middot;
        <a asp-controller="Favorites" asp-action="Index">Favorites (@Model.FavoritesCount)</a>
    }

    <br />

    @if (Model.MyLinks.Count > 0)
    {
        for (int i = 0; i < Model.MyLinks.Count; i++)
        {
            if (i > 0)
            {
                @:&middot;
            }

            var link = Model.MyLinks[i];
            <a href="@link.url" target="_blank">@link.platformName</a>
        }
    }
</p>

<p>
    <span class="visually-hidden">Actor ID:</span>

    <tt style="user-select: all">@@@appInfo.Username@@@appInfo.ApplicationHostname</tt>

    <a href="https://@appInfo.ApplicationHostname" style="text-decoration: none">
        <img alt="Fediverse icon"
             src="/images/Fediverse_logo.svg"
             width="16"
             height="16" />
    </a>

    <img alt="Mastodon icon"
         title="Mastodon"
         src="https://mastodon.social/packs/assets/favicon-16x16-74JBPGmr.png"
         width="16"
         height="16" />

    <img alt="Pixelfed icon"
         title="Pixelfed"
         src="https://pixelfed.social/img/favicon.png"
         width="16"
         height="16" />

    <img alt="wafrn icon"
         title="wafrn"
         src="https://app.wafrn.net/favicon.ico"
         width="16"
         height="16" />

    <br />

    @if (Model.BlueskyHandle != null)
    {
        <tt style="user-select: all">@@@Model.BlueskyHandle</tt>

        <a href="https://bsky.app/profile/@Model.BlueskyHandle" target="_blank" style="text-decoration: none">
            <img alt="Bluesky"
                 title="Bluesky"
                 src="https://web-cdn.bsky.app/static/favicon-16x16.png"
                 width="16"
                 height="16" />
        </a>

        <a href="https://blacksky.community/profile/@Model.BlueskyHandle" target="_blank" style="text-decoration: none">
            <img alt="Blacksky"
                 title="Blacksky"
                 src="https://blacksky.community/static/favicon-16x16.png"
                 width="16"
                 height="16" />
        </a>

        <br />
    }

    <a href="https://browser.pub/https://@appInfo.ApplicationHostname" target="_blank" class="small">
        View on browser.pub
    </a>
</p>

@* <p>
    @if (Model.MyLinks.Count > 0)
    {
        foreach (var group in Model.MyLinks.GroupBy(link => link.linkText))
        {
            <tt style="user-select: all">@group.Key</tt>

            foreach (var link in group)
            {
                var iconUrl = link.platformName switch
                {
                    "DeviantArt" => "https://st.deviantart.net/eclipse/icons/favicon-v2-16x16.png",
                    "Fur Affinity" => "https://www.furaffinity.net/themes/beta/img/favicon.ico",
                    "Weasyl" => "https://www.weasyl.com/img/favicon-YIHdjAYHmG.png",
                    _ => "/icon/tr_gray.svg"
                };

                <a href="@link.url" target="_blank" style="text-decoration: none">
                    <img alt="@link.platformName"
                    title="@link.platformName"
                    src="@iconUrl"
                    width="16"
                    height="16" />
                </a>
            }

            <br />
        }
    }
</p> *@

<h2 class="my-4">
    Newest artwork
</h2>

<form asp-action="Search" method="get">
    <div class="input-group mb-3">
        <input name="q"
               type="text"
               class="form-control"
               placeholder="Search (ID / Title / Tag)"
               aria-label="Search by ID, title, or tag">
        <button class="btn btn-primary" type="submit">
            Search
        </button>
    </div>
</form>

<partial name="_ListGroup" model="@Model.RecentArtwork" />

<p align="right">
    <a asp-controller="Gallery" asp-action="Artwork" class="btn btn-outline-primary">
        View more &raquo;
    </a>
</p>

@if (Model.RecentFavorites.Any())
{
    <h2 class="my-4">
        Favorites
    </h2>

    <partial name="_List" model="@Model.RecentFavorites" />

    <p align="right">
        <a asp-controller="CompositeFavorites" asp-action="Artwork" class="btn btn-outline-primary">
            View more &raquo;
        </a>
    </p>
}

@if (Model.RecentTextPosts.Any())
{
    <h2 class="my-4">
        Recent text posts
    </h2>

    <partial name="_ListGroup" model="@Model.RecentTextPosts" />

    <p align="right">
        <a asp-controller="Gallery" asp-action="TextPosts" class="btn btn-outline-primary">
            View more &raquo;
        </a>
    </p>
}

@if (Model.RecentLinks.Any())
{
    <h2 class="my-4">
        Recent links
    </h2>

    <partial name="_ListGroup" model="@Model.RecentLinks" />

    <p align="right">
        <a asp-controller="Gallery" asp-action="Links" class="btn btn-outline-primary">
            View more &raquo;
        </a>
    </p>
}

@if (User.Identity?.IsAuthenticated == true)
{
    <hr />

    <div id="admin" class="container mb-3">
        <div class="row">
            <div class="col col-12 col-xl-4">
                <div class="card my-3">
                    <div class="card-header">
                        ActivityPub
                    </div>
                    <div class="card-body">
                        <form method="get" asp-controller="RemotePosts" asp-action="Index">
                            <div class="mb-3">
                                <label for="id" class="form-label">
                                    Object ID (URL)
                                </label>
                                <input type="url" class="form-control" name="id" placeholder="https://" />
                            </div>
                            <button type="submit" class="btn btn-outline-primary">
                                View post
                            </button>
                        </form>
                        <hr />
                        <form method="get" asp-controller="Mastodon" asp-action="StartViewingLocalTimeline">
                            <div class="mb-3">
                                <label for="id" class="form-label">
                                    Hostname
                                </label>
                                <input type="text" class="form-control" name="host" placeholder="example.com" />
                            </div>
                            <button type="submit" class="btn btn-outline-primary">
                                View local timeline
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-xl-4">
                <div class="card my-3">
                    <div class="card-header">
                        Bridgy Fed
                    </div>
                    <div class="card-body text-center">
                        <form style="display: inline" asp-controller="BridgyFed" asp-action="Start" method="post" onsubmit="return confirm('Are you sure you want to enable Bridgy Fed?')">
                            <button class="btn btn-danger">
                                Enable
                            </button>
                        </form>

                        <form style="display: inline" asp-controller="BridgyFed" asp-action="Stop" method="post" onsubmit="return confirm('Are you sure you want to deactivate Bridgy Fed and remove this Pandacap server\'s ActivityPub account from Bluesky?')">
                            <button class="btn btn-danger">
                                Disable
                            </button>
                        </form>

                        <hr />

                        <form style="display: inline" asp-controller="BridgyFed" asp-action="Help" method="post">
                            <button class="btn btn-primary">
                                Request info
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-xl-4">
                <div class="card my-3">
                    <div class="card-header">
                        Browser
                    </div>
                    <div class="card-body">
                        <a asp-controller="DeviantArt" asp-action="HomeFeed" class="btn btn-outline-primary">
                            View DeviantArt home feed
                        </a>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-header">
                        Credentials
                    </div>
                    <div class="card-body">
                        <a asp-controller="FurAffinity" asp-action="Setup" class="btn btn-outline-primary mb-2">
                            Add Fur Affinity account
                        </a>
                        <br />
                        <a asp-controller="Weasyl" asp-action="Setup" class="btn btn-outline-primary mb-2">
                            Add Weasyl account
                        </a>
                        <br />
                        <a href="/Identity/Account/Manage/ExternalLogins" class="btn btn-outline-primary">
                            Add other accounts
                        </a>
                        <hr>
                        <a asp-controller="ExternalCredentials" asp-action="Index" class="btn btn-outline-primary">
                            Remove accounts
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
