@using Pandacap.Data
@using Pandacap.LowLevel
@using Pandacap.HighLevel
@model ProfileViewModel
@inject ApplicationInformation appInfo

@{
    ViewData["Title"] = "Main Page";
}

<img src="/Blobs/Avatar"
     alt="Avatar"
     float="left"
     style="vertical-align: top" />

<div style="display: inline-block">
    <h1>
        @appInfo.DeviantArtUsername
    </h1>

    <p>
        <tt>@@@appInfo.Username@@@appInfo.HandleHostname</tt>
        <br />
        <a asp-action="Followers">
            Followers:
            @Model.FollowerCount
        </a>
        <br />
        <a asp-action="Following">
            Following:
            @Model.FollowingCount
        </a>
    </p>

    @if (Model.BridgyFed)
    {
        <p>
            Mirrored on atproto:
            <br />
            <a href="https://bsky.app/profile/@(appInfo.Username).@(appInfo.HandleHostname).ap.brid.gy">
                <tt>@@@(appInfo.Username).@(appInfo.HandleHostname).ap.brid.gy</tt>
            </a>
        </p>
    }

    <p>
        @foreach (var property in Model.ProfileProperties)
        {
            @:@property.Name:
            <a href="@property.Link" target="_blank">
                @property.Value
            </a>
            <br />
        }
    </p>

    @if (User.Identity?.IsAuthenticated == true)
    {
        <p>
            <a asp-controller="ProfileProperties" asp-action="Index">
                Manage profile links
            </a>
        </p>
    }
</div>

<form asp-action="Search" method="get">
    <div class="input-group mb-3">
        <input name="q"
               type="text"
               class="form-control"
               placeholder="Search (ID / Title / Tag)"
               aria-label="Search by ID, title, or tag">
        <button class="btn btn-primary" type="button">
            Search
        </button>
    </div>
</form>

@if (Model.RecentArtwork.Any())
{
    <h2>
        Newest artwork
    </h2>

    <div class="container-fluid">
        <div class="row">
            @foreach (IPost post in Model.RecentArtwork)
            {
                foreach (string thumbnailUrl in post.ThumbnailUrls)
                {
                    <div class="col-sm-4 col-md-3 text-center my-4">
                        <a href="/UserPosts/@post.Id">
                            <img src="@thumbnailUrl"
                                 alt=""
                                 referrerpolicy="no-referrer"
                                 class="feed-image" />
                            @post.DisplayTitle
                        </a>
                    </div>
                }
            }
        </div>
    </div>

    <p>
        <a asp-controller="Gallery" asp-action="Artwork">
            View more &raquo;
        </a>
    </p>
}

@if (Model.RecentTextPosts.Any())
{
    <h2>
        Recent posts
    </h2>

    <p>
        @foreach (var post in Model.RecentTextPosts)
        {
            <div>
                <a href="/UserPosts/@post.Id">@post.Title</a>
                <span class="text-muted">(@post.PublishedTime.UtcDateTime.ToLongDateString())</span>
            </div>
        }
    </p>

    <p>
        <a asp-controller="Gallery" asp-action="TextPosts">
            View more &raquo;
        </a>
    </p>
}

@if (User.Identity?.IsAuthenticated == true)
{
    <hr />

    <h2>
        DeviantArt
    </h2>

    <p>
        The DeviantArt API allows you to:
    </p>

    <ul>
        <li>
            Log in to Pandacap
        </li>
        <li>
            Import, refresh, and/or remove your artwork and text posts
            <br />
            <span class="small text-muted">Must be done manually</span>
        </li>
        <li>
            Import artwork and text posts from users you follow into the Pandacap inbox
            <br />
            <span class="small text-muted">Runs automatically every 3 hours</span>
        </li>
    </ul>

    <div class="container mb-3">
        <div class="row">
            <div class="col col-12 col-lg-6">
                <div class="card mt-3">
                    <div class="card-header">
                        Gallery
                    </div>
                    <div class="card-body text-center">
                        <form asp-action="ImportPastHour">
                            <button type="submit" class="btn btn-primary">
                                Sync past hour
                            </button>
                        </form>

                        <div class="mb-3"></div>

                        <form asp-action="ImportPastMonth">
                            <button type="submit" class="btn btn-primary">
                                Sync past month
                            </button>
                        </form>

                        <div class="mb-3"></div>

                        <form asp-action="ImportAll" onsubmit="return confirm('Are you sure you want to import and refresh all of your posts?')">
                            <button type="submit" class="btn btn-primary">
                                Sync all posts
                            </button>
                        </form>

                        <hr />

                        <a asp-controller="AltText" asp-action="Index" asp-route-count="1" class="btn btn-outline-primary">
                            Manage alt text (1)
                        </a>

                        <div class="mb-3"></div>

                        <a asp-controller="AltText" asp-action="Index" asp-route-count="10" class="btn btn-outline-primary">
                            Manage alt text (10)
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-6">
                <div class="card mt-3">
                    <div class="card-header">
                        Inbox
                    </div>
                    <div class="card-body text-center">
                        <form asp-controller="InboxIngest" asp-action="DeviantArtArtworkPosts">
                            <button type="submit" class="btn btn-primary btn-warning">
                                Sync artwork posts now
                            </button>
                        </form>

                        <hr />

                        <form asp-controller="InboxIngest" asp-action="DeviantArtTextPosts">
                            <button type="submit" class="btn btn-primary btn-warning">
                                Sync text posts now
                            </button>
                            <div class="form-text">
                                Looks for posts from users you follow whose last DeviantArt visit happened after the previous sync
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>
        ActivityPub
    </h2>

    <p>
        Pandacap acts as an ActivityPub S2S server:
    </p>

    <ul>
        <li>
            Posts from your public gallery will be federated out.
            Text posts with titles will have the type <code>Article</code>; all other posts will have the type <code>Note</code>.
        </li>
        <li>
            Posts from users you follow will be added to the Pandacap inbox, based on whether or not they include at least one image attachment.
            Boosted posts (<code>Announce</code>) will be ignored unless you enable boosts from the user in your Following list, in which case they will be added to the Shares section of the inbox.
        </li>
        <li>
            ActivityPub posts can be added to your public Favorites gallery, which sends a <code>Like</code> to the originating server.
        </li>
    </ul>

    <div class="container mb-3">
        <div class="row">
            <div class="col col-12 col-lg-4">
                <div class="card mt-3">
                    <div class="card-header">
                        Follow
                    </div>
                    <div class="card-body">
                        <form asp-action="Follow">
                            <div class="mb-3">
                                <label for="id" class="form-label">
                                    Actor ID (URL)
                                </label>
                                <input type="url" class="form-control" id="id" name="id" placeholder="https://" />
                                <div class="form-text">Mastodon-style handles (of the form <tt>@@user@@hostname</tt>) are not supported.</div>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Send follow request
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-4">
                <div class="card mt-3">
                    <div class="card-header">
                        Add to Favorites
                    </div>
                    <div class="card-body">
                        <form asp-controller="Favorites" asp-action="Add">
                            <div class="mb-3">
                                <label for="id" class="form-label">
                                    Object ID (URL)
                                </label>
                                <input type="url" class="form-control" id="id" name="id" placeholder="https://" />
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Add
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-4">
                <div class="card mt-3">
                    <div class="card-header">
                        Recent inbound activities
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var activity in Model.RecentActivities)
                        {
                            <li class="list-group-item">
                                <strong>
                                    <a href="@activity.RemoteActivity.ActorId">@activity.RemoteActivity.ActorId</a>
                                </strong>
                                <br />
                                @activity.RemoteActivity.ActivityType for
                                <a href="/UserPosts/@activity.RemoteActivity.DeviationId">
                                    @(activity.Post?.Title ?? activity.RemoteActivity.DeviationId.ToString())
                                </a>
                                <br />
                                <span class="small text-muted">
                                    (@activity.RemoteActivity.AddedAt)
                                </span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h2>
        atproto
    </h2>

    <p>
        Pandacap implements an atproto client, which lets it import posts from users you follow to the Pandacap inbox.
        <br />
        <span class="small text-muted">If an atproto account is attached, your home timeline will be checked for new posts every 3 hours.</span>
    </p>

    <p>
        Pandacap does not currently support cross-posting to an attached atproto account.
        Follow Bridgy Fed if you want to make your Pandacap gallery posts available on atproto.
    </p>

    <div class="container mb-3">
        <div class="row">
            <div class="col col-12 col-lg-6">
                <div class="card mt-3">
                    <div class="card-header">
                        Inbound
                    </div>
                    <div class="card-body">
                        <a asp-controller="ATProto" asp-action="Setup" class="btn btn-outline-primary">
                            Configure external account
                        </a>
                        <div class="form-text">
                            Posts that appear in the account's home timeline will be added to the inbox.
                        </div>
                        <hr />
                        <form asp-controller="InboxIngest" asp-action="BlueskyTimeline">
                            <button type="submit" class="btn btn-primary btn-warning">
                                Sync now
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-6">
                <div class="card mt-3">
                    <div class="card-header">
                        Outbound
                    </div>
                    <div class="card-body">
                        <form asp-action="CheckBridgyFed">
                            <button type="submit" class="btn btn-primary btn-warning">
                                Update Bluesky URLs for bridged posts
                            </button>
                        </form>
                        <div class="form-text">
                            This adds a "View on Bluesky" link to the post page in your Pandacap gallery.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>
        Atom/RSS
    </h2>

    <p>
        Pandacap allows you to follow RSS and Atom feeds.
        New posts will be addd to the appropriate section of the Pandacap inbox based on whether or not an image is included.
        <br />
        <span class="small text-muted">Each feed will be checked for new posts every 3 hours.</span>
    </p>

    <div class="container mb-3">
        <div class="row">
            <div class="col col-12">
                <div class="card mt-3">
                    <div class="card-header">
                        Atom/RSS
                    </div>
                    <div class="card-body">
                        <form asp-action="AddFeed">
                            <div class="mb-3">
                                <label for="url" class="form-label">
                                    Follow Atom/RSS feed URL
                                </label>
                                <input type="url" class="form-control" id="url" name="url" placeholder="https://" />
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Follow
                            </button>

                            <hr />

                            <a asp-action="Feeds" class="btn btn-outline-primary">
                                Manage feeds
                            </a>

                            <hr />

                            <form asp-controller="InboxIngest" asp-action="Feed">
                                    <button type="submit" class="btn btn-primary btn-warning">
                                    Sync inbox (Atom/RSS)
                                </button>
                            </form>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style type="text/css">
    img.feed-image {
        height: 150px;
    }

    @@supports (object-fit: contain) {
        img.feed-image {
            width: 100%;
            object-fit: contain;
        }
    }
</style>
