@using Pandacap.Data
@using Pandacap.LowLevel
@using Pandacap.HighLevel
@model ProfileViewModel
@inject ApplicationInformation appInfo
@inject IdMapper mapper

@{
    ViewData["Title"] = "Main Page";
}

<img src="@mapper.AvatarUrl"
     alt="Avatar"
     float="left"
     style="vertical-align: top" />

<div style="display: inline-block">
    <h1>
        @appInfo.DeviantArtUsername
    </h1>

    <p>
        <tt>@@@appInfo.Username@@@appInfo.HandleHostname</tt>
        <br />
        <a asp-action="Followers">
            Followers:
            @Model.FollowerCount
        </a>
        <br />
        <a asp-action="Following">
            Following:
            @Model.FollowingCount
        </a>
    </p>

    @if (Model.BridgyFed)
    {
        <p>
            Mirrored on atproto:
            <br />
            <tt>@@@(appInfo.Username).@(appInfo.HandleHostname).ap.brid.gy</tt>
        </p>
    }

    <p>
        DeviantArt:
        <a href="https://www.deviantart.com/@appInfo.DeviantArtUsername" target="_blank">
            @appInfo.DeviantArtUsername
        </a>
        <br />
        @foreach (var property in Model.ProfileProperties)
        {
            @:@property.Name:
            <a href="@property.Link" target="_blank">
                @property.Value
            </a>
            <br />
        }
    </p>
</div>

<form asp-action="Search" method="get">
    <div class="input-group mb-3">
        <input name="q"
               type="text"
               class="form-control"
               placeholder="Search (ID / Title / Tag)"
               aria-label="ID, title, or tag to search for">
        <button class="btn btn-primary" type="button">
            Search
        </button>
    </div>
</form>

@if (Model.RecentArtwork.Any())
{
    <h2>
        Newest artwork
    </h2>

    <div class="container-fluid">
        <div class="row">
            @foreach (var post in Model.RecentArtwork)
            {
                <div class="col-sm-4 col-md-3 text-center my-4">
                    <a href="/BridgedPosts/@post.Id">
                        <img src="@post.GetThumbnailSrc()"
                             srcset="@post.GetThumbnailSrcset()"
                             alt="@post.AltText"
                             referrerpolicy="no-referrer"
                             class="feed-image" />
                        @post.Title
                    </a>
                </div>
            }
        </div>
    </div>

    <p>
        <a asp-controller="Gallery" asp-action="Artwork">
            View more &raquo;
        </a>
    </p>
}

@if (Model.RecentTextPosts.Any())
{
    <h2>
        Recent posts
    </h2>

    <p>
        @foreach (IPost post in Model.RecentTextPosts)
        {
            <div>
                <a href="/BridgedPosts/@post.Id">@post.DisplayTitle</a>
                <span class="text-muted">(@post.Timestamp.UtcDateTime.ToLongDateString())</span>
            </div>
        }
    </p>

    <p>
        <a asp-controller="Gallery" asp-action="TextPosts">
            View more &raquo;
        </a>
    </p>
}

@if (User.Identity?.IsAuthenticated == true)
{
    <h2>
        Tools
    </h2>

    <div class="container mb-3">
        <div class="row">
            <div class="col col-xl-4">
                <div class="card mt-3">
                    <div class="card-header">
                        DeviantArt
                    </div>
                    <div class="card-body text-center">
                        <form asp-action="ImportPast24H">
                            <button type="submit" class="btn btn-primary">
                                Import and refresh recent posts
                            </button>
                            <div class="form-text">Past 24 hours</div>
                        </form>
                        <hr />
                        <form asp-action="ImportAll" onconfirm="confirm('Are you sure you want to import and refresh all posts?')">
                            <button type="submit" class="btn btn-primary">
                                Import and refresh all posts
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        Properties
                    </div>
                    <div class="card-body text-center">
                        <a asp-controller="AltText" asp-action="Index" class="btn btn-outline-primary">
                            Manage alt text
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-xl-4">
                <div class="card mt-3">
                    <div class="card-header">
                        ActivityPub
                    </div>
                    <div class="card-body">
                        <form asp-action="Follow">
                            <div class="mb-3">
                                <label for="id" class="form-label">
                                    ActivityPub actor ID / URL
                                </label>
                                <input type="text" class="form-control" id="id" name="id" />
                                <div class="form-text">Mastodon-style handles (of the form <tt>@@user@@hostname</tt>) are not supported.</div>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Send follow request
                            </button>
                        </form>
                        <hr />
                        <form asp-controller="Favorites" asp-action="Add">
                            <div class="mb-3">
                                <label for="id" class="form-label">
                                    ActivityPub object ID / URL
                                </label>
                                <input type="text" class="form-control" id="id" name="id" />
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Add to Favorites
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        Atom/RSS
                    </div>
                    <div class="card-body">
                        <form asp-action="AddFeed">
                            <div class="mb-3">
                                <label for="url" class="form-label">
                                    Feed URL
                                </label>
                                <input type="text" class="form-control" id="url" name="url" />
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Follow
                            </button>
                            <hr />
                            <a asp-action="Feeds" class="btn btn-outline-primary">
                                Manage feeds
                            </a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-xl-4">
                <div class="card mt-3">
                    <div class="card-header">
                        Recent activities
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var activity in Model.RecentActivities)
                        {
                            <li class="list-group-item">
                                <strong>
                                    <a href="@activity.RemoteActivity.ActorId">@activity.RemoteActivity.ActorId</a>
                                </strong>
                                <br />
                                @activity.RemoteActivity.ActivityType for
                                <a href="/BridgedPosts/@activity.RemoteActivity.DeviationId">
                                    @(activity.Post?.Title ?? activity.RemoteActivity.DeviationId.ToString())
                                </a>
                                <br />
                                <span class="small text-muted">
                                    (@activity.RemoteActivity.AddedAt)
                                </span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

<style type="text/css">
    img.feed-image {
        height: 150px;
    }

    @@supports (object-fit: contain) {
        img.feed-image {
            width: 100%;
            object-fit: contain;
        }
    }
</style>
