@using Pandacap.Data
@using Pandacap.LowLevel
@using Pandacap.HighLevel
@model ProfileViewModel
@inject ApplicationInformation appInfo

@{
    ViewData["Title"] = "Profile";
}

<img
    src="@Model.MostRecentPost?.Usericon"
    alt="Avatar"
    float="left"
    style="vertical-align: top" />

<div style="display: inline-block">
    <h1>
        @Model.MostRecentPost?.Username
    </h1>

    <p>
        <tt>@@@appInfo.Username@@@appInfo.HandleHostname</tt>
        <br />
        <a asp-action="Followers">
            Followers:
            @Model.FollowerCount
        </a>
        <br />
        <a asp-action="Following">
            Following:
            @Model.FollowingCount
        </a>
    </p>
</div>

<form asp-action="Search" method="get">
<div class="input-group mb-3">
        <input
            name="q"
            type="text"
            class="form-control"
            placeholder="Search (ID / Title / Tag)"
            aria-label="ID, title, or tag to search for">
        <button class="btn btn-primary" type="button">
            Search
        </button>
    </div>
</form>

@if (Model.RecentArtwork.Any()) {
    <h2>
        Newest artwork
    </h2>

    <div class="container-fluid">
        <div class="row">
            @foreach (var post in Model.RecentArtwork)
            {
                <div class="col-sm-4 col-md-3 text-center my-4">
                    <a href="/BridgedPosts/@post.Id">
                        <img src="@post.GetThumbnailSrc()"
                             srcset="@post.GetThumbnailSrcset()"
                             alt="@post.AltText"
                             referrerpolicy="no-referrer"
                             class="feed-image" />
                        @post.Title
                    </a>
                </div>
            }
        </div>
    </div>

    <p>
        <a asp-controller="Gallery" asp-action="Artwork">
            View more &raquo;
        </a>
    </p>
}

@if (Model.RecentTextPosts.Any()) {
    <h2>
        Recent posts
    </h2>

    <p>
        @foreach (IPost post in Model.RecentTextPosts)
        {
            <div>
                <a href="/BridgedPosts/@post.Id">@post.DisplayTitle</a>
                <span class="text-muted">(@post.Timestamp.UtcDateTime.ToLongDateString())</span>
            </div>
        }
    </p>

    <p>
        <a asp-controller="Gallery" asp-action="TextPosts">
            View more &raquo;
        </a>
    </p>
}

@if (User.Identity?.IsAuthenticated == true)
{
    <h2>
        Tools
    </h2>

    <div class="container mb-3">
        <div class="row">
            <div class="col col-xl-6">
                <div class="card mt-3">
                    <div class="card-header">
                        Follow ActivityPub actor
                    </div>
                    <div class="card-body">
                        <form asp-action="Follow">
                            <div class="mb-3">
                                <label for="alt" class="form-label">
                                    ActivityPub ID / URL
                                </label>
                                <input type="text" class="form-control" id="id" name="id" />
                                <div class="form-text">Mastodon-style handles (of the form <tt>@@user@@hostname</tt>) are not supported.</div>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Send follow request
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        Add remote ActivityPub post to Favorites
                    </div>
                    <div class="card-body">
                        <form asp-controller="Favorites" asp-action="Add">
                            <div class="mb-3">
                                <label for="alt" class="form-label">
                                    ActivityPub ID / URL
                                </label>
                                <input type="text" class="form-control" id="id" name="id" />
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Add to Favorites
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-xl-6">
                <div class="card mt-3">
                    <div class="card-header">
                        Recent activities
                    </div>
                    <div class="card-body">
                        <ul>
                            @foreach (var activity in Model.RecentActivities)
                            {
                                <li>
                                    <a href="/BridgedPosts/@activity.DeviationId">@activity.DeviationId</a>
                                    <span class="text-muted">(@activity.AddedAt)</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style type="text/css">
    img.feed-image {
        height: 150px;
    }

    @@supports (object-fit: contain) {
        img.feed-image {
            width: 100%;
            object-fit: contain;
        }
    }
</style>
