@using Pandacap.ConfigurationObjects
@using Pandacap.Data
@using Pandacap.HighLevel
@model ProfileViewModel
@inject ApplicationInformation appInfo

@{
    ViewData["Title"] = "Main Page";
}

<p>
    <img width="50" height="50" src="/Blobs/Avatar" alt="" />
    <span style="display: inline-block; vertical-align: top">
        <strong>@appInfo.Username</strong>
        <br />
        <span class="small text-muted" style="user-select: all">@appInfo.ApplicationHostname</span>

        @* <br />

        <img alt="Fediverse icon"
             src="~/images/Fediverse_logo.svg"
             title="ActivityPub"
             width="16"
             height="16" />

        <img alt="Mastodon logo"
             title="Mastodon"
             src="https://mastodon.social/packs/assets/favicon-16x16-74JBPGmr.png"
             width="16"
             height="16" />

        <span class="small text-muted" style="user-select: all">@@@(appInfo.Username)@@@(appInfo.ApplicationHostname)</span>

        <br />

        <img alt="atproto icon"
             title="atproto"
             src="https://atproto.com/en/icon.ico"
             width="16"
             height="16" />

        <img alt="Bluesky logo"
             title="Bluesky"
             src="https://web-cdn.bsky.app/static/favicon-16x16.png"
             width="16"
             height="16" />

        <span class="small text-muted" style="user-select: all">@@@Model.BlueskyHandle</span> *@
    </span>
</p>

<p>
    <a asp-action="FollowingAndFeeds">Following (@Model.FollowingCount)</a>

    @if (User.Identity?.IsAuthenticated == true)
    {
        @:&middot;
        <a asp-action="Followers">Followers (@Model.FollowerCount)</a>
        @:&middot;
        <a asp-controller="ActivityPubPosts" asp-action="Index">Posts</a>
        @:&middot;
        <a asp-controller="Favorites" asp-action="Index">Favorites (@Model.FavoritesCount)</a>
    }
</p>

@* <div>
    <div class="social-block">
        <img alt=""
             src="https://mastodon.social/packs/assets/favicon-16x16-74JBPGmr.png"
             class="social-icon-inline" />

        Mastodon

        <img alt=""
             src="https://pixelfed.social/img/favicon.png"
             class="social-icon-inline" />

        Pixelfed

        <img alt=""
             src="https://app.wafrn.net/favicon.ico"
             class="social-icon-inline" />

        wafrn

        <br />

        <span style="user-select: all">@@@(appInfo.Username)@@@(appInfo.ApplicationHostname)</span>

        <br />

        <span style="user-select: all">https://@appInfo.ApplicationHostname</span>
    </div>

    @if (Model.BlueskyHandle != null)
    {
        <div class="social-block">
            <img alt=""
                 src="https://atproto.com/en/icon.ico"
                 class="social-icon-inline" />

            atproto

            <br />

            <span style="user-select: all">@@@Model.BlueskyHandle</span>

            <br />

            <span style="user-select: all">@Model.BlueskyDID</span>
        </div>
    }

    <div class="social-block">
        <img alt=""
             src="/images/feed-icon.svg"
             class="social-icon-inline" />

        Feeds

        <br />

        <span style="user-select: all">https://@(appInfo.ApplicationHostname)/Gallery/Composite?format=atom</span>

        <br />

        <span style="user-select: all">https://@(appInfo.ApplicationHostname)/Gallery/Composite?format=rss</span>
    </div>
</div> *@

<div class="social-block">
    View on:
</div>

<div class="social-block">
    <a href="https://mastodon.social/@@@appInfo.Username@@@appInfo.ApplicationHostname" target="_blank">
        <img alt=""
                src="https://mastodon.social/packs/assets/favicon-16x16-74JBPGmr.png"
                class="social-icon-inline" />

        mastodon.social
    </a>

    <br />

    <a href="https://pixelfed.social/@@@appInfo.Username@@@appInfo.ApplicationHostname" target="_blank">
        <img alt=""
                src="https://pixelfed.social/img/favicon.png"
                class="social-icon-inline" />

        pixelfed.social
    </a>

    <br />

    <a href="https://app.wafrn.net/blog/@@@appInfo.Username@@@appInfo.ApplicationHostname" target="_blank">
        <img alt=""
                src="https://app.wafrn.net/favicon.ico"
                class="social-icon-inline" />

        app.wafrn.net
    </a>

    <br />

    <a href="https://browser.pub/https://@appInfo.ApplicationHostname" target="_blank">
        <img alt=""
                src="https://browser.pub/icon.svg"
                class="social-icon-inline" />

        browser.pub
    </a>
</div>

@if (Model.BlueskyDID != null)
{
    <div class="social-block">
        <a href="https://bsky.app/profile/@Model.BlueskyHandle" target="_blank">
            <img alt=""
                    src="https://web-cdn.bsky.app/static/favicon-16x16.png"
                    class="social-icon-inline" />

            Bluesky
        </a>

        <br />

        <a href="https://blacksky.community/profile/@Model.BlueskyHandle" target="_blank">
            <img alt=""
                    src="https://blacksky.community/static/favicon-16x16.png"
                    class="social-icon-inline" />

            Blacksky
        </a>

        <br />

        <a href="https://reddwarf.app/profile/@Model.BlueskyHandle" target="_blank" style="text-decoration: none">
            <img alt=""
                    src="https://reddwarf.app/redstar.png"
                    class="social-icon-inline" />

            Red Dwarf
        </a>
    </div>
}

@foreach (var link in Model.MyLinks)
{
    <div class="social-block">
        <a href="@link.url" target="_blank">
            @switch (link.platformName)
            {
                case "DeviantArt":
                    <img alt=""
                            src="https://st.deviantart.net/eclipse/icons/da_favicon_v2.ico"
                            class="social-icon-inline" />
                    break;

                case "Fur Affinity":
                    <img alt=""
                            src="https://sfw.furaffinity.net/themes/beta/img/favicon.ico"
                            class="social-icon-inline" />
                    break;

                case "Weasyl":
                    <img alt=""
                            src="https://www.weasyl.com/img/favicon-oP29Tyisif.svg"
                            class="social-icon-inline" />
                    break;
            }

            @link.platformName
        </a>
    </div>
}

<h2 class="my-4">
    Newest artwork
</h2>

<form asp-action="Search" method="get">
    <div class="input-group mb-3">
        <input name="q"
               type="text"
               class="form-control"
               placeholder="Search (ID / Title / Tag)"
               aria-label="Search by ID, title, or tag">
        <button class="btn btn-primary" type="submit">
            Search
        </button>
    </div>
</form>

<partial name="_ListGroup" model="@Model.RecentArtwork" />

<p align="right">
    <a asp-controller="Gallery" asp-action="Artwork" class="btn btn-outline-primary">
        View more &raquo;
    </a>
</p>

@if (Model.RecentFavorites.Any())
{
    <h2 class="my-4">
        Favorites
    </h2>

    <partial name="_List" model="@Model.RecentFavorites" />

    <p align="right">
        <a asp-controller="CompositeFavorites" asp-action="Artwork" class="btn btn-outline-primary">
            View more &raquo;
        </a>
    </p>
}

@if (Model.RecentTextPosts.Any())
{
    <h2 class="my-4">
        Recent text posts
    </h2>

    <partial name="_ListGroup" model="@Model.RecentTextPosts" />

    <p align="right">
        <a asp-controller="Gallery" asp-action="TextPosts" class="btn btn-outline-primary">
            View more &raquo;
        </a>
    </p>
}

@if (Model.RecentLinks.Any())
{
    <h2 class="my-4">
        Recent links
    </h2>

    <partial name="_ListGroup" model="@Model.RecentLinks" />

    <p align="right">
        <a asp-controller="Gallery" asp-action="Links" class="btn btn-outline-primary">
            View more &raquo;
        </a>
    </p>
}

@if (User.Identity?.IsAuthenticated == true)
{
    <div id="admin" class="container mb-3">
        <div class="row">
            <div class="col col-12">
                <div class="card my-3">
                    <div class="card-header">
                        ActivityPub
                    </div>
                    <div class="card-body">
                        <form method="get" asp-controller="RemotePosts" asp-action="Index">
                            <div class="input-group">
                                <span class="input-group-text">Object ID</span>
                                <input name="id"
                                       type="text"
                                       class="form-control"
                                       placeholder="https://">
                                <button class="btn btn-outline-secondary" type="submit">
                                    View post
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-xl-4">
                <div class="card my-3">
                    <div class="card-header">
                        Bridgy Fed
                    </div>
                    <div class="card-body text-center">
                        <form style="display: inline" asp-controller="BridgyFed" asp-action="Start" method="post" onsubmit="return confirm('Are you sure you want to enable Bridgy Fed?')">
                            <button class="btn btn-danger">
                                Enable
                            </button>
                        </form>

                        <form style="display: inline" asp-controller="BridgyFed" asp-action="Stop" method="post" onsubmit="return confirm('Are you sure you want to deactivate Bridgy Fed and remove this Pandacap server\'s ActivityPub account from Bluesky?')">
                            <button class="btn btn-danger">
                                Disable
                            </button>
                        </form>

                        <hr />

                        <form style="display: inline" asp-controller="BridgyFed" asp-action="Help" method="post">
                            <button class="btn btn-primary">
                                Request info
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-xl-4">
                <div class="card my-3">
                    <div class="card-header">
                        DeviantArt
                    </div>
                    <div class="card-body text-center">
                        <a asp-controller="DeviantArt" asp-action="HomeFeed" class="btn btn-outline-primary">
                            View home feed
                        </a>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-xl-4">
                <div class="card my-3">
                    <div class="card-header">
                        Credentials
                    </div>
                    <div class="card-body text-center">
                        <a asp-controller="FurAffinity" asp-action="Setup" class="btn btn-outline-primary mb-2">
                            Add Fur Affinity account
                        </a>
                        <br />
                        <a asp-controller="Weasyl" asp-action="Setup" class="btn btn-outline-primary mb-2">
                            Add Weasyl account
                        </a>
                        <br />
                        <a href="/Identity/Account/Manage/ExternalLogins" class="btn btn-outline-primary">
                            Add other accounts
                        </a>
                        <hr>
                        <a asp-controller="ExternalCredentials" asp-action="Index" class="btn btn-outline-primary">
                            Remove accounts
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
