@using Pandacap.Data
@using Pandacap.LowLevel
@using Pandacap.HighLevel
@model ProfileViewModel
@inject ApplicationInformation appInfo

@{
    ViewData["Title"] = "Main Page";
}

<img src="/Blobs/Avatar"
     alt="Avatar"
     float="left"
     style="vertical-align: top" />

<div style="display: inline-block">
    <h1>
        @appInfo.DeviantArtUsername
    </h1>

    <p>
        <tt>@@@appInfo.Username@@@appInfo.HandleHostname</tt>
        <br />
        <a asp-action="Followers">
            Followers:
            @Model.FollowerCount
        </a>
        <br />
        <a asp-action="Following">
            Following:
            @Model.FollowingCount
        </a>
    </p>

    @if (Model.BridgyFed)
    {
        <p>
            Mirrored on atproto:
            <br />
            <a href="https://bsky.app/profile/@(appInfo.Username).@(appInfo.HandleHostname).ap.brid.gy">
                <tt>@@@(appInfo.Username).@(appInfo.HandleHostname).ap.brid.gy</tt>
            </a>
        </p>
    }

    <p>
        @foreach (var property in Model.ProfileProperties)
        {
            @:@property.Name:
            <a href="@property.Link" target="_blank">
                @property.Value
            </a>
            <br />
        }
    </p>
</div>

<form asp-action="Search" method="get">
    <div class="input-group mb-3">
        <input name="q"
               type="text"
               class="form-control"
               placeholder="Search (ID / Title / Tag)"
               aria-label="Search by ID, title, or tag">
        <button class="btn btn-primary" type="button">
            Search
        </button>
    </div>
</form>

@if (Model.RecentArtwork.Any())
{
    <h2>
        Newest artwork
    </h2>

    <div class="container-fluid">
        <div class="row">
            @foreach (IPost post in Model.RecentArtwork)
            {
                foreach (string thumbnailUrl in post.ThumbnailUrls)
                {
                    <div class="col-sm-4 col-md-3 text-center my-4">
                        <a href="/UserPosts/@post.Id">
                            <img src="@thumbnailUrl"
                                 alt=""
                                 referrerpolicy="no-referrer"
                                 class="feed-image" />
                            @post.DisplayTitle
                        </a>
                    </div>
                }
            }
        </div>
    </div>

    <p>
        <a asp-controller="Gallery" asp-action="Artwork">
            View more &raquo;
        </a>
    </p>
}

@if (Model.RecentTextPosts.Any())
{
    <h2>
        Recent posts
    </h2>

    <p>
        @foreach (var post in Model.RecentTextPosts)
        {
            <div>
                <a href="/UserPosts/@post.Id">@post.Title</a>
                <span class="text-muted">(@post.PublishedTime.UtcDateTime.ToLongDateString())</span>
            </div>
        }
    </p>

    <p>
        <a asp-controller="Gallery" asp-action="TextPosts">
            View more &raquo;
        </a>
    </p>
}

@if (User.Identity?.IsAuthenticated == true)
{
    <h2>
        Tools
    </h2>
    <div class="container mb-3">
        <div class="row">
            <div class="col col-12 col-lg-4">
                <div class="card mt-3">
                    <div class="card-header">
                        DeviantArt
                    </div>
                    <div class="card-body text-center">
                        <form asp-action="ImportPastHour">
                            <button type="submit" class="btn btn-primary">
                                Sync past hour
                            </button>
                        </form>

                        <div class="mb-3"></div>

                        <form asp-action="ImportPastMonth">
                            <button type="submit" class="btn btn-primary">
                                Sync past month
                            </button>
                        </form>

                        <div class="mb-3"></div>

                        <form asp-action="ImportAll" onsubmit="return confirm('Are you sure you want to import and refresh all of your posts?')">
                            <button type="submit" class="btn btn-primary">
                                Sync all posts
                            </button>
                        </form>

                        <hr />

                        <a asp-controller="AltText" asp-action="Index" asp-route-count="1" class="btn btn-outline-primary">
                            Manage alt text (1)
                        </a>

                        <div class="mb-3"></div>

                        <a asp-controller="AltText" asp-action="Index" asp-route-count="10" class="btn btn-outline-primary">
                            Manage alt text (10)
                        </a>

                        <hr />

                        <form asp-controller="InboxIngest" asp-action="DeviantArtArtworkPosts">
                            <button type="submit" class="btn btn-primary btn-warning">
                                Sync inbox (artwork posts)
                            </button>
                        </form>

                        <div class="mb-3"></div>

                        <form asp-controller="InboxIngest" asp-action="DeviantArtTextPosts">
                            <button type="submit" class="btn btn-primary btn-warning">
                                Sync inbox (text posts)
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-4">
                <div class="card mt-3">
                    <div class="card-header">
                        ActivityPub
                    </div>
                    <div class="card-body">
                        <form asp-action="Follow">
                            <div class="mb-3">
                                <label for="id" class="form-label">
                                    Follow actor
                                </label>
                                <input type="url" class="form-control" id="id" name="id" placeholder="https://" />
                                <div class="form-text">Mastodon-style handles (of the form <tt>@@user@@hostname</tt>) are not supported.</div>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Send follow request
                            </button>
                        </form>
                        <hr />
                        <form asp-controller="Favorites" asp-action="Add">
                            <div class="mb-3">
                                <label for="id" class="form-label">
                                    Add to Favorites
                                </label>
                                <input type="url" class="form-control" id="id" name="id" placeholder="https://" />
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Add
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        Profile
                    </div>
                    <div class="card-body text-center">
                        <a asp-controller="ProfileProperties" asp-action="Index" asp-route-count="1" class="btn btn-outline-primary">
                            Manage profile links
                        </a>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        Recent activities
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var activity in Model.RecentActivities)
                        {
                            <li class="list-group-item">
                                <strong>
                                    <a href="@activity.RemoteActivity.ActorId">@activity.RemoteActivity.ActorId</a>
                                </strong>
                                <br />
                                @activity.RemoteActivity.ActivityType for
                                <a href="/UserPosts/@activity.RemoteActivity.DeviationId">
                                    @(activity.Post?.Title ?? activity.RemoteActivity.DeviationId.ToString())
                                </a>
                                <br />
                                <span class="small text-muted">
                                    (@activity.RemoteActivity.AddedAt)
                                </span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col col-12 col-lg-4">
                <div class="card mt-3">
                    <div class="card-header">
                        Atom/RSS
                    </div>
                    <div class="card-body">
                        <form asp-action="AddFeed">
                            <div class="mb-3">
                                <label for="url" class="form-label">
                                    Follow Atom/RSS feed URL
                                </label>
                                <input type="url" class="form-control" id="url" name="url" placeholder="https://" />
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Follow
                            </button>

                            <hr />

                            <a asp-action="Feeds" class="btn btn-outline-primary">
                                Manage feeds
                            </a>

                            <hr />

                            <form asp-controller="InboxIngest" asp-action="Feed">
                                    <button type="submit" class="btn btn-primary btn-warning">
                                    Sync inbox (Atom/RSS)
                                </button>
                            </form>
                        </form>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        Bluesky
                    </div>
                    <div class="card-body">
                        <a asp-controller="ATProto" asp-action="Setup" class="btn btn-outline-primary">
                            Configure external account
                        </a>
                        <div class="form-text">
                            Posts that appear in the account's home timeline will be added to the inbox.
                        </div>
                        <hr />
                        <form asp-controller="InboxIngest" asp-action="BlueskyTimeline">
                            <button type="submit" class="btn btn-primary btn-warning">
                                Sync inbox (Bluesky timeline)
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        atproto
                    </div>
                    <div class="card-body">
                        <div class="form-text">
                            Outbound atproto support can be enabled by following Bridgy Fed.
                        </div>

                        <form asp-action="CheckBridgyFed">
                            <button type="submit" class="btn btn-primary btn-warning">
                                Update Bluesky URLs for bridged posts
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style type="text/css">
    img.feed-image {
        height: 150px;
    }

    @@supports (object-fit: contain) {
        img.feed-image {
            width: 100%;
            object-fit: contain;
        }
    }
</style>
