@using Pandacap.ConfigurationObjects
@using Pandacap.Data
@using Pandacap.HighLevel
@model ProfileViewModel
@inject ApplicationInformation appInfo

@{
    ViewData["Title"] = "Main Page";
}

<h1>
    <img width="50" height="50" src="/Blobs/Avatar" alt="" />
    @appInfo.Username
</h1>

<p align="center">
    <a asp-controller="Gallery" asp-action="Artwork" class="btn btn-outline-primary mb-1" style="min-width: 125px">
        Gallery
    </a>
    <a asp-controller="Gallery" asp-action="TextPosts" class="btn btn-outline-primary mb-1" style="min-width: 125px">
        Text Posts
    </a>
    <a asp-controller="CompositeFavorites" asp-action="Artwork" class="btn btn-outline-primary mb-1" style="min-width: 125px">
        Favorites
    </a>
</p>

<div class="container">
    <div class="row">
        <div class="col-xl-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">ActivityPub</h5>

                    <tt>@@@appInfo.Username@@@appInfo.HandleHostname</tt>

                    <br />

                    <a asp-action="Following">Following (@Model.FollowingCount)</a>
                    &middot;
                    <a asp-controller="Communities" asp-action="Bookmarks">Communities (@Model.CommunityBookmarksCount)</a>
                </div>
            </div>


            @foreach (string did in Model.BlueskyDIDs)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Bluesky</h5>

                        <a href="https://bsky.app/profile/@did" target="_blank">
                            <tt>@did</tt>
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="col-xl-4">
            @foreach (string username in Model.DeviantArtUsernames)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">DeviantArt</h5>

                        <a href="https://www.deviantart.com/@Uri.EscapeDataString(username)" target="_blank">
                            <tt>@username</tt>
                        </a>
                    </div>
                </div>
            }

            @foreach (string username in Model.FurAffinityUsernames)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Fur Affinity</h5>

                        <a href="https://www.furaffinity.net/user/@Uri.EscapeDataString(username)" target="_blank">
                            <tt>@username</tt>
                        </a>
                    </div>
                </div>
            }

            @foreach (string username in Model.WeasylUsernames)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Weasyl</h5>

                        <a href="https://www.weasyl.com/~@username" target="_blank">
                            <tt>@username</tt>
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="col-xl-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Atom</h5>

                    <a href="/Gallery/Artwork?format=atom">Gallery</a>
                    &middot;
                    <a href="/Gallery/TextPosts?format=atom">Text posts</a>
                    &middot;
                    <a href="/Gallery/Composite?format=atom">All</a>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">RSS</h5>

                    <a href="/Gallery/Artwork?format=rss">Gallery</a>
                    &middot;
                    <a href="/Gallery/TextPosts?format=rss">Text posts</a>
                    &middot;
                    <a href="/Gallery/Composite?format=rss">All</a>
                </div>
            </div>
        </div>
    </div>
</div>

<form asp-action="Search" method="get">
    <div class="input-group mb-3">
        <input name="q"
               type="text"
               class="form-control"
               placeholder="Search (ID / Title / Tag)"
               aria-label="Search by ID, title, or tag">
        <button class="btn btn-primary" type="submit">
            Search
        </button>
    </div>
</form>

@if (Model.RecentArtwork.Any())
{
    <h2 class="my-4">
        Newest artwork
    </h2>

    <partial name="_ListGroup" model="@Model.RecentArtwork" />

    <p align="right">
        <a asp-controller="Gallery" asp-action="Artwork" class="btn btn-outline-primary">
            View more &raquo;
        </a>
    </p>
}

@if (Model.RecentFavorites.Any())
{
    <h2 class="my-4">
        Favorites
    </h2>

    <partial name="_List" model="@Model.RecentFavorites" />

    <p align="right">
        <a asp-controller="CompositeFavorites" asp-action="Artwork" class="btn btn-outline-primary">
            View more &raquo;
        </a>
    </p>
}

@if (Model.RecentTextPosts.Any())
{
    <h2 class="my-4">
        Recent text posts
    </h2>

    <partial name="_ListGroup" model="@Model.RecentTextPosts" />

    <p align="right">
        <a asp-controller="Gallery" asp-action="TextPosts" class="btn btn-outline-primary">
            View more &raquo;
        </a>
    </p>
}

@if (User.Identity?.IsAuthenticated == true)
{
    <hr />

    <div id="admin" class="container mb-3">
        <div class="row">
            <div class="col col-12 col-xl-4">
                <h2>
                    ActivityPub
                </h2>

                <div class="card my-3">
                    <div class="card-header">
                        Remote
                    </div>
                    <div class="card-body">
                        <form method="get" asp-controller="RemotePosts" asp-action="Index">
                            <div class="mb-3">
                                <label for="id" class="form-label">
                                    Object ID (URL)
                                </label>
                                <input type="url" class="form-control" id="id" name="id" placeholder="https://" />
                            </div>
                            <button type="submit" class="btn btn-outline-primary">
                                View post
                            </button>
                        </form>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-header">
                        Actor
                    </div>
                    <div class="card-body text-center">
                        <a asp-controller="Profile" asp-action="Followers" class="btn btn-outline-primary">
                            Followers (@Model.FollowerCount)
                        </a>

                        <a asp-controller="Profile" asp-action="Following" class="btn btn-outline-primary">
                            Following (@Model.FollowingCount)
                        </a>

                        <hr />

                        <a asp-controller="Favorites" asp-action="Index" class="btn btn-outline-primary">
                            Favorites (@Model.FavoritesCount)
                        </a>

                        <hr />

                        <a asp-controller="Gallery" asp-action="Composite" class="btn btn-outline-primary">
                            User posts
                        </a>

                        <a asp-controller="Gallery" asp-action="AddressedPosts" class="btn btn-outline-primary">
                            Addressed posts
                        </a>

                        <hr />

                        <a asp-controller="Profile" asp-action="UploadAvatar" class="btn btn-outline-primary">
                            Upload avatar
                        </a>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-header">
                        Bridgy Fed
                    </div>
                    <div class="card-body text-center">
                        <form style="display: inline" asp-controller="BridgyFed" asp-action="Start" method="post" onsubmit="return confirm('Are you sure you want to enable Bridgy Fed? (Pandacap may take a minute or two to fetch the DID after the bridge is activated.)')">
                            <button class="btn btn-danger">
                                Enable
                            </button>
                        </form>

                        <form style="display: inline" asp-controller="BridgyFed" asp-action="Stop" method="post" onsubmit="return confirm('Are you sure you want to deactivate Bridgy Fed and remove this Pandacap server\'s ActivityPub account from Bluesky?')">
                            <button class="btn btn-danger">
                                Disable
                            </button>
                        </form>

                        <hr />

                        <form style="display: inline" asp-controller="BridgyFed" asp-action="Help" method="post">
                            <button class="btn btn-primary">
                                Request info
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-xl-4">
                <h2>
                    Atom/RSS
                </h2>

                <div class="card my-3">
                    <div class="card-header">
                        Feeds
                    </div>
                    <div class="card-body">
                        <form asp-action="AddFeed">
                            <div class="mb-3">
                                <label for="url" class="form-label">
                                    Follow Atom/RSS feed URL
                                </label>
                                <input type="url" class="form-control" id="url" name="url" placeholder="https://" />
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Follow
                            </button>

                            <hr />

                            <div class="text-center">
                                <a asp-action="Feeds" class="btn btn-outline-primary">
                                    Manage feeds
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-xl-4">
                <h2>
                    Inbox targets
                </h2>

                <div class="card my-3">
                    <div class="card-header">
                        DeviantArt
                    </div>
                    <div class="card-body">
                        <a asp-controller="DeviantArt" asp-action="HomeFeed" class="btn btn-outline-primary">
                            View home feed
                        </a>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-header">
                        Bluesky
                    </div>
                    <div class="card-body">
                        <a asp-controller="ATProto" asp-action="Setup" class="btn btn-outline-primary">
                            Configure account
                        </a>

                        <a asp-controller="ATProto" asp-action="Following" class="btn btn-outline-primary">
                            Following
                        </a>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-header">
                        Fur Affinity
                    </div>
                    <div class="card-body">
                        <a asp-controller="FurAffinity" asp-action="Setup" class="btn btn-outline-primary">
                            Configure account
                        </a>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-header">
                        Weasyl
                    </div>
                    <div class="card-body">
                        <a asp-controller="Weasyl" asp-action="Setup" class="btn btn-outline-primary">
                            Configure account
                        </a>
                    </div>
                </div>

                <h2>
                    Monitoring targets
                </h2>

                <div class="card my-3">
                    <div class="card-header">
                        Furry Network
                    </div>
                    <div class="card-body">
                        <a asp-controller="FurryNetwork" asp-action="Setup" class="btn btn-outline-primary">
                            Configure account
                        </a>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-header">
                        Sheezy.Art
                    </div>
                    <div class="card-body">
                        <a asp-controller="SheezyArt" asp-action="Setup" class="btn btn-outline-primary">
                            Configure account
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
