@using Pandacap.ConfigurationObjects
@using Pandacap.Data
@using Pandacap.HighLevel
@model ProfileViewModel
@inject ApplicationInformation appInfo

@{
    ViewData["Title"] = "Main Page";
}

<h1>
    @if (User.Identity?.IsAuthenticated == true)
    {
        <a asp-action="UploadAvatar"><img width="50" height="50" src="/Blobs/Avatar" alt="" /></a>
    }
    else
    {
        <img width="50" height="50" src="/Blobs/Avatar" alt="" />
    }
    @appInfo.Username
</h1>

<p>
    <a asp-controller="Gallery" asp-action="Artwork" class="btn btn-outline-primary mb-1" style="min-width: 125px">
        Gallery
    </a>
    <a asp-controller="Gallery" asp-action="TextPosts" class="btn btn-outline-primary mb-1" style="min-width: 125px">
        Text Posts
    </a>
    <a asp-controller="CompositeFavorites" asp-action="Artwork" class="btn btn-outline-primary mb-1" style="min-width: 125px">
        Favorites
    </a>
</p>

<p>
    @for (int i = 0; i < Model.MyLinks.Count; i++)
    {
        if (i > 0)
        {
            @:&middot;
        }

        var link = Model.MyLinks[i];
        <a href="@link.url" target="_blank">@link.platformName</a>
    }
</p>

<p>
    <a href="https://@appInfo.ApplicationHostname" target="_blank" style="text-decoration: none">
        <img alt=""
             src="/images/Fediverse_logo.svg"
             width="16"
             height="16" />
        <span class="visually-hidden">ActivityPub actor ID</span>
    </a>

    <tt style="user-select: all">@@@appInfo.Username@@@appInfo.ApplicationHostname</tt>

    <br />

    @if (Model.BridgyFedHandle != null)
    {
        <a href="https://bsky.app/profile/@Model.BridgyFedHandle" target="_blank" style="text-decoration: none">
            <img alt="Bluesky"
                 src="https://web-cdn.bsky.app/static/favicon-16x16.png"
                 width="16"
                 height="16" />
        </a>

        <tt style="user-select: all">@@@Model.BridgyFedHandle</tt>

        <br />
    }

    <a asp-action="FollowingAndFeeds">Following (@Model.FollowingCount)</a>
    &middot;
    <a asp-controller="Communities" asp-action="Bookmarks">Communities (@Model.CommunityBookmarksCount)</a>

    @if (User.Identity?.IsAuthenticated == true)
    {
        @:&middot;
        <a asp-action="Followers">Followers (@Model.FollowerCount)</a>
        @:&middot;
        <a asp-controller="ActivityPubPosts" asp-action="Index">Posts</a>
        @:&middot;
        <a asp-controller="Favorites" asp-action="Index">Favorites (@Model.FavoritesCount)</a>
    }
</p>

<h2 class="my-4">
    Newest artwork
</h2>

<form asp-action="Search" method="get">
    <div class="input-group mb-3">
        <input name="q"
               type="text"
               class="form-control"
               placeholder="Search (ID / Title / Tag)"
               aria-label="Search by ID, title, or tag">
        <button class="btn btn-primary" type="submit">
            Search
        </button>
    </div>
</form>

<partial name="_ListGroup" model="@Model.RecentArtwork" />

<p align="right">
    <a asp-controller="Gallery" asp-action="Artwork" class="btn btn-outline-primary">
        View more &raquo;
    </a>
</p>

@if (Model.RecentFavorites.Any())
{
    <h2 class="my-4">
        Favorites
    </h2>

    <partial name="_List" model="@Model.RecentFavorites" />

    <p align="right">
        <a asp-controller="CompositeFavorites" asp-action="Artwork" class="btn btn-outline-primary">
            View more &raquo;
        </a>
    </p>
}

@if (Model.RecentTextPosts.Any())
{
    <h2 class="my-4">
        Recent text posts
    </h2>

    <partial name="_ListGroup" model="@Model.RecentTextPosts" />

    <p align="right">
        <a asp-controller="Gallery" asp-action="TextPosts" class="btn btn-outline-primary">
            View more &raquo;
        </a>
    </p>
}

@if (User.Identity?.IsAuthenticated == true)
{
    <hr />

    <div id="admin" class="container mb-3">
        <div class="row">
            <div class="col col-12 col-xl-4">
                <h2>
                    ActivityPub
                </h2>

                <div class="card my-3">
                    <div class="card-header">
                        Remote
                    </div>
                    <div class="card-body">
                        <form method="get" asp-controller="RemotePosts" asp-action="Index">
                            <div class="mb-3">
                                <label for="id" class="form-label">
                                    Object ID (URL)
                                </label>
                                <input type="url" class="form-control" name="id" placeholder="https://" />
                            </div>
                            <button type="submit" class="btn btn-outline-primary">
                                View post
                            </button>
                        </form>
                        <hr />
                        <form method="get" asp-controller="Mastodon" asp-action="StartViewingLocalTimeline">
                            <div class="mb-3">
                                <label for="id" class="form-label">
                                    Hostname
                                </label>
                                <input type="text" class="form-control" name="host" placeholder="example.com" />
                            </div>
                            <button type="submit" class="btn btn-outline-primary">
                                View local timeline
                            </button>
                        </form>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-header">
                        Bridgy Fed
                    </div>
                    <div class="card-body text-center">
                        <form style="display: inline" asp-controller="BridgyFed" asp-action="Start" method="post" onsubmit="return confirm('Are you sure you want to enable Bridgy Fed?')">
                            <button class="btn btn-danger">
                                Enable
                            </button>
                        </form>

                        <form style="display: inline" asp-controller="BridgyFed" asp-action="Stop" method="post" onsubmit="return confirm('Are you sure you want to deactivate Bridgy Fed and remove this Pandacap server\'s ActivityPub account from Bluesky?')">
                            <button class="btn btn-danger">
                                Disable
                            </button>
                        </form>

                        <hr />

                        <form style="display: inline" asp-controller="BridgyFed" asp-action="Help" method="post">
                            <button class="btn btn-primary">
                                Request info
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-xl-4">
                <h2>
                    Inbox sources
                </h2>

                <div class="card my-3">
                    <div class="card-header">
                        Bluesky
                    </div>
                    <div class="card-body">
                        <a asp-controller="ATProto" asp-action="Setup" class="btn btn-outline-primary">
                            Configure accounts
                        </a>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-header">
                        DeviantArt
                    </div>
                    <div class="card-body">
                        <a asp-controller="DeviantArt" asp-action="HomeFeed" class="btn btn-outline-primary">
                            View home feed
                        </a>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-header">
                        Fur Affinity
                    </div>
                    <div class="card-body">
                        <a asp-controller="FurAffinity" asp-action="Setup" class="btn btn-outline-primary">
                            Configure account
                        </a>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-header">
                        Weasyl
                    </div>
                    <div class="card-body">
                        <a asp-controller="Weasyl" asp-action="Setup" class="btn btn-outline-primary">
                            Configure account
                        </a>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-xl-4">
                <h2>
                    Other favorites sources
                </h2>

                <div class="card my-3">
                    <div class="card-header">
                        Furry Network
                    </div>
                    <div class="card-body">
                        <a asp-controller="FurryNetwork" asp-action="Setup" class="btn btn-outline-primary">
                            Configure account
                        </a>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-header">
                        Sheezy.Art
                    </div>
                    <div class="card-body">
                        <a asp-controller="SheezyArt" asp-action="Setup" class="btn btn-outline-primary">
                            Configure account
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
