@using Pandacap.Data
@using Pandacap.LowLevel
@using Pandacap.HighLevel
@model ProfileViewModel
@inject ApplicationInformation appInfo

@{
    ViewData["Title"] = "Main Page";
}

<h1>
    <img width="50" height="50" src="/Blobs/Avatar" alt="" />
    @appInfo.Username
</h1>

<div class="container">
    <div class="row">
        <div class="col-xl-4">
            <div class="card my-3">
                <div class="card-body">
                    <h5 class="card-title">ActivityPub</h5>

                    <tt>@@@appInfo.Username@@@appInfo.HandleHostname</tt>

                    <br />

                    <a asp-action="Following">Following (@Model.FollowingCount)</a>
                    &middot;
                    <a asp-controller="Favorites" asp-action="Index">Favorites (@Model.FavoritesCount)</a>
                    &middot;
                    <a asp-controller="Communities" asp-action="Bookmarks">Communities (@Model.CommunityBookmarksCount)</a>

                    @if (Model.ShowBridgyFedBlueskyLink)
                    {
                        <hr />

                        string handle = $"{appInfo.Username}.{appInfo.HandleHostname}.ap.brid.gy";

                        <div style="white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis">
                            Bluesky:
                            <a href="https://bsky.app/profile/@(handle)" target="_blank">
                                <tt>@@@handle</tt>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card my-3">
                <div class="card-body">
                    <h5 class="card-title">Atom</h5>

                    <a href="/Gallery/Artwork?format=atom">Gallery</a>
                    &middot;
                    <a href="/Gallery/Journals?format=atom">Journals</a>
                    &middot;
                    <a href="/Gallery/StatusUpdates?format=atom">Status updates</a>
                    &middot;
                    <a href="/Gallery/Composite?format=atom">All</a>
                </div>
            </div>

            <div class="card my-3">
                <div class="card-body">
                    <h5 class="card-title">RSS</h5>

                    <a href="/Gallery/Artwork?format=rss">Gallery</a>
                    &middot;
                    <a href="/Gallery/Journals?format=rss">Journals</a>
                    &middot;
                    <a href="/Gallery/StatusUpdates?format=rss">Status updates</a>
                    &middot;
                    <a href="/Gallery/Composite?format=rss">All</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            @foreach (string did in Model.BlueskyDIDs)
            {
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Bluesky</h5>

                        <a href="https://bsky.app/profile/@did" target="_blank">
                            <tt>@did</tt>
                        </a>

                        <br />

                        <a href="https://bsky.app/profile/@did/follows" target="_blank">Following</a>
                    </div>
                </div>
            }

            @foreach (string username in Model.DeviantArtUsernames)
            {
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">DeviantArt</h5>

                        <a href="https://www.deviantart.com/@Uri.EscapeDataString(username)" target="_blank">
                            <tt>@username</tt>
                        </a>

                        <br />

                        <a href="https://www.deviantart.com/@Uri.EscapeDataString(username)/about#watching" target="_blank">Watching</a>
                        &middot;
                        <a href="https://www.deviantart.com/@Uri.EscapeDataString(username)/favourites/all" target="_blank">Favorites</a>
                    </div>
                </div>
            }

            @foreach (string username in Model.WeasylUsernames)
            {
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Weasyl</h5>

                        <a href="https://www.weasyl.com/~@username" target="_blank">
                            <tt>@username</tt>
                        </a>

                        <br />

                        <a href="https://www.weasyl.com/following/@username" target="_blank">Following</a>
                        &middot;
                        <a href="https://www.weasyl.com/favorites/@username" target="_blank">Favorites</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<form asp-action="Search" method="get">
    <div class="input-group mb-3">
        <input name="q"
               type="text"
               class="form-control"
               placeholder="Search (ID / Title / Tag)"
               aria-label="Search by ID, title, or tag">
        <button class="btn btn-primary" type="button">
            Search
        </button>
    </div>
</form>

@if (Model.RecentArtwork.Any())
{
    <h2>
        Newest artwork
    </h2>

    <partial name="_ListGroup" model="@Model.RecentArtwork" />

    <p>
        <a asp-controller="Gallery" asp-action="Artwork">
            View more &raquo;
        </a>
    </p>
}

@if (Model.RecentJournalEntries.Any())
{
    <h2>
        Recent journal entries
    </h2>

    <partial name="_ListGroup" model="@Model.RecentJournalEntries" />

    <p>
        <a asp-controller="Gallery" asp-action="Journals">
            View more &raquo;
        </a>
    </p>
}

@if (Model.RecentStatusUpdates.Any())
{
    <h2>
        Recent status updates
    </h2>

    <partial name="_ListGroup" model="@Model.RecentStatusUpdates" />

    <p>
        <a asp-controller="Gallery" asp-action="StatusUpdates">
            View more &raquo;
        </a>
    </p>
}

@if (User.Identity?.IsAuthenticated == true)
{
    <hr />

    <div id="admin" class="container mb-3">
        <div class="row">
            <div class="col col-12 col-xl-4">
                <h2>
                    ActivityPub
                </h2>

                <div class="card my-3">
                    <div class="card-header">
                        Remote
                    </div>
                    <div class="card-body">
                        <form method="get" asp-controller="RemotePosts" asp-action="Index">
                            <div class="mb-3">
                                <label for="id" class="form-label">
                                    Object ID (URL)
                                </label>
                                <input type="url" class="form-control" id="id" name="id" placeholder="https://" />
                            </div>
                            <button type="submit" class="btn btn-outline-primary">
                                View post
                            </button>
                        </form>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-header">
                        Actor
                    </div>
                    <div class="card-body text-center">
                        <a asp-controller="Profile" asp-action="Followers" class="btn btn-outline-primary">
                            Followers (@Model.FollowerCount)
                        </a>

                        <a asp-controller="Profile" asp-action="Following" class="btn btn-outline-primary">
                            Following (@Model.FollowingCount)
                        </a>

                        <hr />

                        <a asp-controller="Gallery" asp-action="Composite" class="btn btn-outline-primary">
                            User posts
                        </a>

                        <a asp-controller="Gallery" asp-action="AddressedPosts" class="btn btn-outline-primary">
                            Addressed posts
                        </a>

                        <hr />

                        <a asp-controller="Profile" asp-action="UploadAvatar" class="btn btn-outline-primary">
                            Upload avatar
                        </a>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-xl-4">
                <h2>
                    Atom/RSS
                </h2>

                <div class="card my-3">
                    <div class="card-header">
                        Feeds
                    </div>
                    <div class="card-body">
                        <form asp-action="AddFeed">
                            <div class="mb-3">
                                <label for="url" class="form-label">
                                    Follow Atom/RSS feed URL
                                </label>
                                <input type="url" class="form-control" id="url" name="url" placeholder="https://" />
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Follow
                            </button>

                            <hr />

                            <div class="text-center">
                                <a asp-action="Feeds" class="btn btn-outline-primary">
                                    Manage feeds
                                </a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-header">
                        Audio
                    </div>
                    <div class="card-body">
                        <form asp-controller="Podcast" asp-action="SegmentZip">
                            <input type="hidden" name="seconds" value="300" />
                            <div class="mb-3">
                                <label for="url" class="form-label">
                                    Convert .mp3 to segmented .wma
                                </label>
                                <input type="url" class="form-control" id="url" name="url" placeholder="https://" />
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Download
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-xl-4">
                <h2>
                    DeviantArt
                </h2>

                <div class="card my-3">
                    <div class="card-header">
                        Browse
                    </div>
                    <div class="card-body">
                        <a asp-controller="DeviantArt" asp-action="HomeFeed" class="btn btn-outline-primary">
                            View home feed
                        </a>
                    </div>
                </div>

                <h2>
                    Bluesky
                </h2>

                <div class="card my-3">
                    <div class="card-header">
                        Configuration
                    </div>
                    <div class="card-body">
                        <a asp-controller="ATProto" asp-action="Setup" class="btn btn-outline-primary">
                            Configure account
                        </a>
                        <div class="form-text">
                            Posts that appear in the account's home timeline will be added to the inbox.
                        </div>
                    </div>
                </div>

                <h2>
                    Weasyl
                </h2>

                <div class="card my-3">
                    <div class="card-header">
                        Configuration
                    </div>
                    <div class="card-body">
                        <a asp-controller="Weasyl" asp-action="Setup" class="btn btn-outline-primary">
                            Configure account
                        </a>
                        <div class="form-text">
                            Submissions from watched users will be added to the inbox.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
