@using Pandacap.Data
@using Pandacap.HighLevel
@using Pandacap.Models
@model ListViewModel<IRemoteActorRelationship>

@{
    ViewBag.Title = Model.Title;
}

@if (!Model.Items.DisplayList.Any())
{
    <p>
        This user does not currently follow any other ActivityPub users.
    </p>
}
else
{
    @foreach (var item in Model.Items.DisplayList)
    {
        bool ghosted = (item as Follower)?.GhostedSince != null;
        <div class="mb-3">
            <div>
                <img height="50" src="@item.IconUrl" alt="" />
                <span style="display: inline-block; vertical-align: top">
                    <strong>
                        @(item.PreferredUsername ?? item.ActorId)
                    </strong>
                    <br />
                    <a href="@item.ActorId">@item.ActorId</a>
                    @if (item.Pending)
                    {
                        @:(pending)
                    }
                </span>
            </div>

            @if (User.Identity?.IsAuthenticated == true && item is Follower follower)
            {
                <details>
                    <summary>Options</summary>
                    @if (follower.GhostedSince == null)
                    {
                        <form asp-action="Ghost">
                            <input type="hidden" name="id" value="@item.ActorId" />
                            <button type="submit" class="btn btn-outline-secondary">Ghost @(item.PreferredUsername ?? item.ActorId) (stop sending "Create" activities)</button>
                        </form>
                        <div class="small text-muted">
                            This does not block the user (your posts are still accessible through shares, other users on the server, or direct lookup)
                        </div>
                    }
                    else
                    {
                        <form asp-action="Unghost">
                            <input type="hidden" name="id" value="@item.ActorId" />
                            <button type="submit" class="btn btn-outline-secondary">Unghost @(item.PreferredUsername ?? item.ActorId) (resume sending "Create" activities)</button>
                        </form>
                    }
                </details>
            }

            @if (User.Identity?.IsAuthenticated == true && item is Follow follow)
            {
                Guid r1 = Guid.NewGuid();
                Guid r2 = Guid.NewGuid();
                <details>
                    <summary>Options</summary>
                    <form asp-action="UpdateFollow">
                        <input type="hidden" name="id" value="@item.ActorId" />
                        <div class="mb-3 form-check">
                            <input
                                type="checkbox"
                                class="form-check-input"
                                id="@r1"
                                name="includeImageShares"
                                value="true"
                                @(follow.IncludeImageShares == true ? "checked" : "")>
                            <label class="form-check-label" for="@r1">
                                Include shares (boosts) of image posts
                            </label>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox"
                                   class="form-check-input"
                                   id="@r2"
                                   name="includeTextShares"
                                   value="true"
                                   @(follow.IncludeTextShares == true ? "checked" : "")>
                            <label class="form-check-label" for="@r2">
                                Include shares (boosts) of text posts
                            </label>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Save changes</button>
                    </form>

                    <hr />

                    <form asp-action="Unfollow">
                        <input type="hidden" name="id" value="@item.ActorId" />
                        <button type="submit" class="btn btn-outline-danger">Unfollow @(item.PreferredUsername ?? item.ActorId)</button>
                    </form>
                </details>
            }
        </div>
    }

    @if (Microsoft.FSharp.Core.OptionModule.ToObj(Model.Items.Next) is IRemoteActorRelationship nextActor)
    {
        <hr />

        <a asp-route-q="@Model.Q"
           asp-route-next="@nextActor.ActorId"
           asp-route-count="@Model.Items.DisplayList.Length"
           class="btn btn-primary">
            Next @Model.Items.DisplayList.Length items &raquo;
        </a>
    }
}
