@using Pandacap.Data
@using Pandacap.HighLevel
@using Pandacap.Models
@model BlueskyFeed

@{
    IFollow follow = Model;
}

<div>
    <img height="50" src="@follow.IconUrl" alt="" />
    <span style="display: inline-block; vertical-align: top">
        <strong>
            @follow.Username
        </strong>
        <br />
        <a href="@follow.Url">@Model.DID</a>
    </span>
</div>

<form asp-action="UpdateBlueskyFeed" method="post" class="mt-3">
    <input type="hidden" asp-for="DID" />
    <div class="mb-3 form-check">
        <input type="checkbox"
               class="form-check-input"
               asp-for="IgnoreImages">
        <label class="form-check-label" asp-for="IgnoreImages">
            Ignore images
        </label>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox"
               class="form-check-input"
               asp-for="IncludeTextShares">
        <label class="form-check-label" asp-for="IncludeTextShares">
            Include text shares
        </label>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox"
               class="form-check-input"
               asp-for="IncludeImageShares">
        <label class="form-check-label" asp-for="IncludeImageShares">
            Include image shares
        </label>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox"
               class="form-check-input"
               asp-for="IncludeQuotePosts">
        <label class="form-check-label" asp-for="IncludeQuotePosts">
            Include quote posts
        </label>
    </div>
    <hr />
    <button type="submit" class="btn btn-outline-primary">Save changes</button>
</form>

<hr />

<form asp-action="RemoveBlueskyFeed">
    <input type="hidden" name="did" value="@Model.DID" />
    <button type="submit" class="btn btn-outline-danger">Unfollow @(follow.Username)</button>
</form>
