@using Pandacap.Data
@model IEnumerable<ATProtoCredentials>

<h1>Accounts</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">PDS</th>
            <th scope="col">DID</th>
            <th scope="col">Handle</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <td>
                    @account.PDS
                </td>
                <td>
                    <a href="https://bsky.app/profile/@account.DID" target="_blank">
                        <code>@account.DID</code>
                    </a>
                    @if (account.CrosspostTargetSince != null)
                    {
                        <div class="small text-muted">Crosspost target</div>
                    }
                </td>
                <td>
                    @if (account.Handle != null)
                    {
                        @:@@@account.Handle
                    }
                </td>
                <td>
                    <form method="post" asp-action="Remove" asp-did="@account.DID">
                        <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<h1 class="mt-4">Add new account</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Setup">
            <div class="form-floating mb-3">
                <input id="pds" name="pds" class="form-control" value="@ViewBag.PDS" />
                <label for="pds" class="form-label">PDS</label>
            </div>
            <div class="form-floating mb-3">
                <input id="did" name="did" class="form-control" value="@ViewBag.DID" />
                <label for="did" class="form-label">DID / Handle / Identifier</label>
            </div>
            <div class="form-floating mb-3">
                <input id="password" name="password" class="form-control" type="password" />
                <label for="password" class="form-label">Password</label>
            </div>
            <button type="submit" class="btn btn-primary">Connect</button>
        </form>
    </div>
</div>

<h1 class="mt-4">Select crossposting target</h1>

<p>
    You will be able to manually crosspost to this Bluesky account using the "Post to Bluesky" button.
</p>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SetCrosspostTarget">
            <div class="form-floating mb-3">
                <select id="did" name="did" class="form-select">
                    <option value="">None</option>
                    @foreach (var account in Model)
                    {
                        if (account.CrosspostTargetSince != null)
                        {
                            <option selected>@(account.Handle ?? account.DID)</option>
                        }
                        else
                        {
                            <option>@(account.Handle ?? account.DID)</option>
                        }
                    }
                </select>
                <label for="did" class="form-label">DID</label>
            </div>
            <button type="submit" class="btn btn-primary">Connect</button>
        </form>
    </div>
</div>
