@model BlueskyPostViewModel

@{
    ViewBag.Title = "View Bluesky Post";
}

<h1>
    <img height="50" src="@(Model.ProfileResponse.avatar ?? "/images/trgray.svg")" alt="" />
    <span style="display: inline-block; vertical-align: top">
        <strong>
            <a href="https://bsky.app/profile/@Model.ProfileResponse.did" target="_blank">
                @Model.ProfileResponse.handle
            </a>
        </strong>
    </span>
</h1>

<hr />

@foreach (var reply in Model.Post.record.InReplyTo)
{
    <p>
        in reply to:
        <a href="@reply.parent.uri" target="_blank">
            @reply.parent.uri
        </a>
    </p>
}

@foreach (var quoted in Model.Post.EmbeddedRecords)
{
    <p>
        quotes:
        <a href="@quoted.uri" target="_blank">
            @quoted.uri
        </a>
    </p>
}

<p>
    <a href="https://bsky.app/profile/@Model.ProfileResponse.did/post/@Model.Post.RecordKey" target="_blank">
        @Model.Post.indexedAt.UtcDateTime.ToLongDateString()
        @Model.Post.indexedAt.UtcDateTime.ToShortTimeString()
    </a>
</p>

<style type="text/css">
    .contentImage {
        width: 640px;
        height: 480px;
        max-width: calc(100vw - 100px);
        max-height: calc(100vh - 100px);
        object-fit: contain;
    }
</style>

@if (Model.Post.Images.Any())
{
    <p align="center">
        @foreach (var image in Model.Post.Images)
        {
            <a href="@image.fullsize">
                <img src="@(image.thumb ?? image.fullsize)"
                     alt="@image.alt"
                     class="contentImage" />
            </a>
        }
    </p>
}

<p>
    @Model.Post.record.text
</p>

<hr />

<p>
    @if (!Model.IsInFavorites)
    {
        <form asp-action="AddToFavorites" class="d-inline">
            <input type="hidden" name="pds" value="@Model.PDS" />
            <input type="hidden" name="did" value="@Model.Post.author.did />
            <input type="hidden" name="rkey" value="@Model.Post.RecordKey" />
            <button class="btn btn-primary btn-sm">Add to Favorites</button>
        </form>
    }
    else
    {
        <form asp-action="RemoveFromFavorites" class="d-inline" onsubmit="return confirm('Are you sure you want to remove this post from your favorites?')">
            <input type="hidden" name="cid" value="@Model.Post.cid" />
            <button class="btn btn-danger btn-sm">Remove from Favorites</button>
        </form>
    }
</p>

@foreach (var profile in Model.MyProfiles)
{
    <hr />

    <h2 class="visually-hidden">
        Interact with this post as @profile.AccountName
    </h2>

    <details open>
        <summary>
            <strong>
                @@@profile.AccountName
            </strong>
        </summary>

        <div class="my-2">
            @if (profile.Liked)
            {
                <form asp-action="Unlike" class="d-inline">
                    <input type="hidden" name="rkey" value="@Model.Post.RecordKey" />
                    <input type="hidden" name="my_did" value="@profile.DID" />
                    <button class="btn btn-danger btn-sm">Unlike</button>
                </form>
            }
            else
            {
                <form asp-action="Like" class="d-inline">
                    <input type="hidden" name="pds" value="@Model.PDS" />
                    <input type="hidden" name="author_did" value="@Model.Post.author.did" />
                    <input type="hidden" name="rkey" value="@Model.Post.RecordKey" />
                    <input type="hidden" name="my_did" value="@profile.DID" />
                    <button class="btn btn-primary btn-sm">Like</button>
                </form>
            }
        </div>
    </details>
}

@if (Model.BridgyFedHandle is string handle && Model.BridgyFedObjectId is string objectId)
{
    <hr />

    <details open>
        <summary>
            <strong>
                @@@handle
            </strong>
        </summary>

        <div class="my-2">
            <a asp-controller="RemotePosts" asp-action="Index" asp-route-id="@Model.BridgyFedObjectId" class="btn btn-outline-primary btn-sm">
                View and reply
            </a>
        </div>
    </details>
}
