@model BlueskyPostViewModel
@using Pandacap.Clients.ATProto

@{
    ViewBag.Title = "View Bluesky Post";

    var post = Model.Record.Value;
}

<h1>
    @if (Model.AvatarCID != null)
    {
        <img height="50" src="/ATProto/GetBlob?did=@Model.DID&cid=@Model.AvatarCID" alt="" />
    }
    <span style="display: inline-block; vertical-align: top">
        <strong>
            <a href="https://bsky.app/profile/@Model.DID" target="_blank">
                @@@Model.Handle
            </a>
        </strong>
    </span>
</h1>

<hr />

@if (post.InReplyTo != null)
{
    var reply = post.InReplyTo;

    <p>
        in reply to:

        @{
            try
            {
                <a asp-controller="ATProto" asp-action="ViewBlueskyPost" asp-route-did="@reply.parent.DID" asp-route-rkey="@reply.parent.RecordKey">
                    @reply.parent.uri
                </a>
            } 
            catch (Exception)
            {
                <span>
                    @reply.parent.uri
                </span>
            }
        }
    </p>
}

@if (post.EmbeddedRecord != null)
{
    var quoted = post.EmbeddedRecord;

    <p>
        quotes:
        <a asp-action="ViewBlueskyPost" asp-route-did="@quoted.DID" asp-route-rkey="@quoted.RecordKey" href="@quoted.uri" target="_blank">
            @quoted.uri
        </a>
    </p>
}

<p>
    <a href="https://bsky.app/profile/@Model.DID/post/@Model.Record.RecordKey" target="_blank">
        @post.createdAt.UtcDateTime.ToLongDateString()
        @post.createdAt.UtcDateTime.ToShortTimeString()
    </a>
</p>

<style type="text/css">
    .contentImage {
        width: 640px;
        height: 480px;
        max-width: calc(100vw - 100px);
        max-height: calc(100vh - 100px);
        object-fit: contain;
    }
</style>

@if (post.Images.Any())
{
    <p align="center">
        @foreach (var image in post.Images)
        {
            <a href="/ATProto/GetBlob?did=@Model.DID&cid=@image.image.CID&full=true">
                <img src="/ATProto/GetBlob?did=@Model.DID&cid=@image.image.CID"
                     alt="@image.Alt"
                     class="contentImage" />
            </a>
        }
    </p>
}

<p>
    @post.text
</p>

<hr />

<p>
    @if (!Model.IsInFavorites)
    {
        <form asp-action="AddToFavorites" class="d-inline">
            <input type="hidden" name="did" value="@Model.DID" />
            <input type="hidden" name="rkey" value="@Model.Record.RecordKey" />
            <button class="btn btn-primary btn-sm">Add to Favorites</button>
        </form>
    }
    else
    {
        <form asp-action="RemoveFromFavorites" class="d-inline" onsubmit="return confirm('Are you sure you want to remove this post from your favorites?')">
            <input type="hidden" name="cid" value="@Model.Record.CID" />
            <button class="btn btn-danger btn-sm">Remove from Favorites</button>
        </form>
    }
</p>

@foreach (var profile in Model.MyProfiles)
{
    <hr />

    <h2 class="visually-hidden">
        Interact with this post as @profile.AccountName
    </h2>

    <details open>
        <summary>
            <strong>
                @@@profile.AccountName
            </strong>
        </summary>

        <div class="my-2">
            @if (profile.Liked)
            {
                <form asp-action="Unlike" class="d-inline">
                    <input type="hidden" name="rkey" value="@Model.Record.RecordKey" />
                    <input type="hidden" name="my_did" value="@profile.DID" />
                    <button class="btn btn-danger btn-sm">Unlike</button>
                </form>
            }
            else if (profile.DID != Model.DID)
            {
                <form asp-action="Like" class="d-inline">
                    <input type="hidden" name="author_did" value="@Model.DID" />
                    <input type="hidden" name="rkey" value="@Model.Record.RecordKey" />
                    <input type="hidden" name="my_did" value="@profile.DID" />
                    <button class="btn btn-primary btn-sm">Like</button>
                </form>
            }

            @if (profile.DID == Model.DID)
            {
                <form asp-action="DeletePost" class="d-inline">
                    <input type="hidden" name="did" value="@profile.DID" />
                    <input type="hidden" name="rkey" value="@Model.Record.RecordKey" />
                    <button class="btn btn-danger btn-sm">Delete from PDS</button>
                </form>
            }
        </div>

        <p>
            <form method="post" asp-action="PostReply">
                <input type="hidden" name="author_did" value="@Model.DID" />
                <input type="hidden" name="rkey" value="@Model.Record.RecordKey" />
                <input type="hidden" name="my_did" value="@profile.DID" />

                <div class="form-group">
                    <label for="replyContent" class="form-label">Write reply (plain text)</label>
                    <textarea name="content" id="replyContent" class="form-control" rows="3"></textarea>
                </div>

                <div class="form-group mt-3 text-end">
                    <button class="btn btn-outline-primary">Send</button>
                </div>
            </form>
        </p>
    </details>
}

@if (Model.BridgyFedObjectId is string objectId)
{
    <hr />

    <div class="my-2">
        <a asp-controller="RemotePosts" asp-action="Index" asp-route-id="@Model.BridgyFedObjectId" class="btn btn-outline-primary btn-sm">
            View with Bridgy Fed
        </a>
    </div>
}
