@model BlueskyPostViewModel
@using Pandacap.Clients.ATProto

@{
    ViewBag.Title = "View Bluesky Post";

    var post = Model.Record.Value;
}

<p>
    @if (Model.AvatarCID != null)
    {
        <img height="50" src="/ATProto/GetBlob?did=@Model.DID&cid=@Model.AvatarCID" alt="" />
    }
    <span style="display: inline-block; vertical-align: top">
        <a href="https://bsky.app/profile/@@@Model.Handle" target="_blank">
            <strong>@@@Model.Handle</strong>
        </a>

        <br>

        <span class="small text-muted" style="user-select: all">@Model.DID</span>
    </span>
</p>

<hr />

@foreach (var reply in post.InReplyTo)
{
    <p>
        in reply to:

        <a asp-controller="ATProto" asp-action="ViewBlueskyPost" asp-route-did="@reply.Parent.Uri.Components.DID" asp-route-rkey="@reply.Parent.Uri.Components.RecordKey">
            @reply.Parent.Uri
        </a>
    </p>
}

@foreach (var quoted in post.Quoted)
{
    <p>
        quotes:
        <a asp-action="ViewBlueskyPost" asp-route-did="@quoted.Uri.Components.DID" asp-route-rkey="@quoted.Uri.Components.RecordKey">
            @quoted.Uri
        </a>
    </p>
}

<p>
    <a href="https://bsky.app/profile/@Model.DID/post/@Model.Record.Ref.Uri.Components.RecordKey" target="_blank">
        @post.CreatedAt.UtcDateTime.ToLongDateString()
        @post.CreatedAt.UtcDateTime.ToShortTimeString()
    </a>
</p>

<style type="text/css">
    .contentImage {
        width: 640px;
        height: 480px;
        max-width: calc(100vw - 100px);
        max-height: calc(100vh - 100px);
        object-fit: contain;
    }
</style>

@if (post.Images.Any())
{
    <p align="center">
        @foreach (var image in post.Images)
        {
            <a href="/ATProto/GetBlob?did=@Model.DID&cid=@image.CID&full=true">
                <img src="/ATProto/GetBlob?did=@Model.DID&cid=@image.CID"
                     alt="@image.Alt"
                     class="contentImage" />
            </a>
        }
    </p>
}

<p>
    @post.Text
</p>

<hr />

<p>
    @if (!Model.IsInFavorites)
    {
        <form asp-action="AddToFavorites" class="d-inline">
            <input type="hidden" name="did" value="@Model.DID" />
            <input type="hidden" name="rkey" value="@Model.Record.Ref.Uri.Components.RecordKey" />
            <button class="btn btn-primary btn-sm">Add to Favorites</button>
        </form>
    }
    else
    {
        <form asp-action="RemoveFromFavorites" class="d-inline" onsubmit="return confirm('Are you sure you want to remove this post from your favorites?')">
            <input type="hidden" name="cid" value="@Model.Record.Ref.CID" />
            <button class="btn btn-danger btn-sm">Remove from Favorites</button>
        </form>
    }
</p>
