@using Pandacap.Data
@using Pandacap.HighLevel
@using Pandacap.Models
@model ListViewModel

@{
    ViewBag.Title = Model.Title;
}

<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Artwork</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="TextPosts">Text Posts</a>
    </li>
</ul>

@if (!Model.Items.Any())
{
    <p>
        Showing <strong>0</strong> items.
    </p>
}
else
{
    var minDate = Model.Items.Select(item => item.PostedAt).Min().UtcDateTime;
    var maxDate = Model.Items.Select(item => item.PostedAt).Max().UtcDateTime;

    <p>
        Showing
        <strong>@Model.Items.Count()</strong>
        item(s) posted between
        <strong>@minDate.ToLongDateString()</strong> (@minDate.ToShortTimeString())
        and
        <strong>@maxDate.ToLongDateString()</strong> (@maxDate.ToShortTimeString()).
    </p>

    <partial name="_List" model="@Model.Items" />

    @if (User.Identity?.IsAuthenticated == true)
    {
        <partial name="_Manage" model="@Model" />
    }

    @if (Model.Next is string id)
    {
        <hr />

        <a asp-route-q="@Model.Q"
           asp-route-next="@id"
           asp-route-count="@Model.Items.Count()"
           class="btn btn-primary">
            Next @Model.Items.Count() items &raquo;
        </a>
    }
}
