@using Pandacap.Data
@using Pandacap.HighLevel
@using Pandacap.Models
@model ListViewModel

@{
    ViewBag.Title = Model.Title;
}

<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link" asp-action="Artwork">Artwork</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Text Posts</a>
    </li>
</ul>

@if (!Model.Items.Current.Any())
{
    <p>
        Showing <strong>0</strong> items.
    </p>
}
else
{
    var minDate = Model.Items.Current.Select(item => item.Timestamp).Min().UtcDateTime;
    var maxDate = Model.Items.Current.Select(item => item.Timestamp).Max().UtcDateTime;

    <p>
        Showing
        <strong>@Model.Items.Current.Count()</strong>
        item(s) posted between
        <strong>@minDate.ToLongDateString()</strong> (@minDate.ToShortTimeString())
        and
        <strong>@maxDate.ToLongDateString()</strong> (@maxDate.ToShortTimeString()).
    </p>

    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model.Items.Current)
            {
                <div class="col-12">
                    <div class="mb-2">
                        <img height="25" src="@item.Usericon" alt="" />

                        <strong>@item.Username</strong>

                        @foreach (var badge in item.Badges)
                        {
                            <span class="badge" style="background-color: @badge.Background; color: @badge.Color; vertical-align: middle">
                                @badge.Text
                            </span>
                        }
                    </div>

                    <div class="card">
                        <div class="card-body">
                            @if (item is RemoteActivityPubFavorite ap)
                            {
                                if (!string.IsNullOrEmpty(ap.Name))
                                {
                                    <p>@ap.Name</p>
                                }

                                @Html.Raw(ap.Content)
                            }
                            else if (item is DeviantArtFavorite d && d.Content is string dc)
                            {
                                @Html.Raw(dc)
                            }
                            else
                            {
                                @item.DisplayTitle
                            }
                        </div>
                    </div>

                    <p align="right" class="small text-muted">
                        <a href="@item.LinkUrl">@item.Timestamp.Date.ToLongDateString()</a>
                    </p>
                </div>
            }
        </div>
    </div>

    @if (User.Identity?.IsAuthenticated == true)
    {
        <partial name="_Manage" model="@Model" />
    }

    @if (Model.Items.Next is string id)
    {
        <hr />

        <a asp-route-q="@Model.Q"
           asp-route-next="@id"
           asp-route-count="@Model.Items.Current.Count"
           class="btn btn-primary">
            Next @Model.Items.Current.Count items &raquo;
        </a>
    }
}

<style type="text/css">
    .card-body > :last-child {
        margin-bottom: 0;
    }
</style>
