@using DeviantArtFs.Extensions
@using Pandacap.Data
@using Pandacap.HighLevel
@using Pandacap.Models
@model AltTextPageViewModel

@{
    ViewBag.Title = "Manage Alt Text";
}

<h1>Manage Alt Text</h1>

<p>
    Listing @Model.Items.Count submissions from your DeviantArt gallery.
</p>

<form asp-action="SaveAltText">
    <div class="container">
        @foreach (var item in Model.Items)
        {
            Guid guid = item.Deviation.deviationid;

            <div class="row mb-3">
                <div class="col col-sm-3">
                    <img src="@(item.ThumbnailUrl ?? "/images/trgray.svg")"
                            alt=""
                            referrerpolicy="no-referrer"
                            style="float: left; width: 100%; height: 150px; object-fit: contain" />
                </div>

                <div class="col col-sm-9">
                    <h2>
                        <a href="@item.Deviation.url.OrNull()" target="_blank">
                            @item.Deviation.title.OrNull()
                        </a>
                    </h2>
                    <p>@item.Deviation.published_time.OrNull()</p>
                    <input type="text"
                           aria-label="Alt text"
                           class="form-control"
                           id="alt@(guid)"
                           name="alt@(guid)"
                           value="@item.AltText" />
                </div>
            </div>
        }

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">
                    Import/refresh with new alt text
                </button>
            </div>
        </div>
    </div>
</form>

<hr />

@if (Model.PrevOffset is int prevOffset)
{
    <a asp-route-offset="@prevOffset"
       asp-route-count="@Model.Items.Count"
       class="btn btn-primary">
        &laquo; Previous
    </a>
}

@if (Model.NextOffset is int nextOffset)
{
    <a asp-route-offset="@nextOffset"
       asp-route-count="@Model.Items.Count"
       class="btn btn-primary">
        Next &raquo;
    </a>
}
