@using Pandacap.ActivityPub.Inbound
@model RemotePost

@if (Model.Name != null)
{
    <p>
        <strong>@Model.Name</strong>
    </p>
}

<div>
    @Html.Raw(Model.SanitizedContent)
</div>

<style type="text/css">
    .contentImage {
        width: 400px;
        height: 400px;
        max-width: calc(100vw - 100px);
        max-height: calc(100vh - 100px);
        background-color: rgba(128, 128, 128, 0.25);
        object-fit: contain;
    }
    </style>

@if (Model.Attachments.Any())
{
    <p>
        @foreach (var attachment in Model.Attachments)
        {
            if (attachment.mediaType?.StartsWith("image/") == true)
            {
                <a href="@attachment.url">
                    <img src="@attachment.url"
                         alt="@attachment.name"
                         class="contentImage" />
                </a>
            }
        }
    </p>
}
