@using Pandacap.ActivityPub.Inbound
@model RemotePostViewModel

@{
    var post = Model.RemotePost;
    ViewBag.Title = "View Remote Post";
}

<h1>
    <img height="50" src="@(post.AttributedTo.IconUrl ?? "/images/trgray.svg")" alt="" />
    <span style="display: inline-block; vertical-align: top">
        <strong>
            <a href="@post.AttributedTo.Id" target="_blank">
                @(post.AttributedTo.PreferredUsername ?? post.AttributedTo.Id)
            </a>
        </strong>
    </span>
</h1>

<dl>
    @foreach (var to in post.To)
    {
        <dt>To</dt>
        <dd><partial name="_Addressee" model="@to" /></dd>
    }
    @foreach (var cc in post.Cc)
    {
        <dt>CC</dt>
        <dd><partial name="_Addressee" model="@cc" /></dd>
    }
</dl>

<hr />

@if (post.InReplyTo.Any())
{
    <p>
        in reply to:
        @foreach (string id in post.InReplyTo)
        {
            <a href="@id" target="_blank">
                @id
            </a>
        }
    </p>
}

<span class="badge" style="background-color: navy; color: white">
    @post.Type?.Replace("https://www.w3.org/ns/activitystreams#", "")
</span>

@if (post.HasVisibleSummary || post.Sensitive)
{
    <details>
        <summary>
            @(post.HasVisibleSummary ? post.Summary : "Show content")
        </summary>

        <partial name="_Content" model="@post" />
    </details>
}
else
{
    <partial name="_Content" model="@post" />
}

<p class="text-muted">
    <a href="@(post.Url ?? post.Id)" target="_blank">
        @post.PostedAt
    </a>
</p>

<hr />

<p>
    @if (!Model.IsInFavorites)
    {
        <form asp-controller="Favorites" asp-action="Add" class="d-inline">
            <input type="hidden" name="id" value="@post.Id" />
            <button class="btn btn-primary btn-sm">Add to Favorites</button>
        </form>
    }
    else
    {
        if (Model.Liked)
        {
            <form asp-controller="Favorites" asp-action="Unlike" class="d-inline">
                <input type="hidden" name="id" value="@post.Id" />
                <button class="btn btn-danger btn-sm">Unlike</button>
            </form>
        }
        else
        {
            <form asp-controller="Favorites" asp-action="Like" class="d-inline">
                <input type="hidden" name="id" value="@post.Id" />
                <button class="btn btn-primary btn-sm">Like</button>
            </form>
        }

        <form asp-controller="Favorites" asp-action="Remove" class="d-inline">
            <input type="hidden" name="id" value="@post.Id" />
            <button class="btn btn-danger btn-sm">Remove from Favorites</button>
        </form>
    }
</p>

<hr />

@if (post.IsBridgyFed)
{
    <p>
        Bridgy Fed must be enabled to send replies to this user.
    </p>
}

<p>
    <form method="post" asp-action="Reply">
        <input type="hidden" name="id" value="@post.Id" />

        <div class="form-group">
            <label for="replyContent" class="form-label">Write reply (plain text)</label>
            <textarea name="content" id="replyContent" class="form-control" rows="3"></textarea>
        </div>

        <div class="form-group mt-3 text-end">
            <button class="btn btn-outline-primary">Send</button>
        </div>
    </form>
</p>

@if (post.IsBridgyFed)
{
    <hr />

    <p>
        <div class="form-group">
            <a class="btn btn-outline-primary" href="@post.Url">View and reply on Bluesky</a>
        </div>
    </p>
}
