@using Pandacap.JsonLd
@model RemotePost

@{
    ViewBag.Title = "View Remote Post";
}

<h1>
    <img height="50" src="@(Model.AttributedTo.IconUrl ?? "/images/trgray.svg")" alt="" />
    <span style="display: inline-block; vertical-align: top">
        <strong>
            <a href="@Model.AttributedTo.Id" target="_blank">
                @(Model.AttributedTo.PreferredUsername ?? Model.AttributedTo.Id)
            </a>
        </strong>
    </span>
</h1>

<dl>
    @foreach (var to in Model.To)
    {
        <dt>To</dt>
        <dd><partial name="_Addressee" model="@to" /></dd>
    }
    @foreach (var cc in Model.Cc)
    {
        <dt>CC</dt>
        <dd><partial name="_Addressee" model="@cc" /></dd>
    }
</dl>

<hr />

@if (Model.InReplyTo.Any())
{
    <p>
        in reply to:
        @foreach (string id in Model.InReplyTo)
        {
            <a href="@id" target="_blank">
                @id
            </a>
        }
    </p>
}

<span class="badge" style="background-color: navy; color: white">
    @Model.Type?.Replace("https://www.w3.org/ns/activitystreams#", "")
</span>

@if (Model.HasVisibleSummary || Model.Sensitive)
{
    <details>
        <summary>
            @(Model.HasVisibleSummary ? Model.Summary : "Show content")
        </summary>

        <partial name="_Content" model="@Model" />
    </details>
}
else
{
    <partial name="_Content" model="@Model" />
}

<p class="text-muted">
    <a href="@(Model.Url ?? Model.Id)" target="_blank">
        @Model.PostedAt
    </a>
</p>

<hr />

<p>
    <form asp-controller="Favorites" asp-action="Add" class="d-inline">
        <input type="hidden" name="id" value="@Model.Id" />
        <button class="btn btn-primary">Add to Favorites</button>
    </form>
    <form asp-controller="Favorites" asp-action="Remove" class="d-inline" onsubmit="confirm('Are you sure you want to remove this post from your favorites?')">
        <input type="hidden" name="id" value="@Model.Id" />
        <button class="btn btn-danger">Remove from Favorites</button>
    </form>
</p>

<hr />

<p>
    <form method="post" asp-action="Reply">
        <input type="hidden" name="id" value="@Model.Id" />

        <div class="form-group">
            <label for="replyContent" class="form-label">Write reply (plain text)</label>
            <textarea name="content" id="replyContent" class="form-control" rows="3"></textarea>
        </div>

        <div class="form-group mt-3 text-end">
            <button class="btn btn-outline-primary">Send</button>
        </div>
    </form>
</p>
