@model ExternalCredentialsModel

@using Pandacap.UI.Badges

@{
    ViewData["Title"] = "Manage external credentials";
}

<table class="table" style="max-width: 480px; margin: auto">
   <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Actions
            </th>
        </tr>
   </thead>
   <tbody>
        @foreach (var credential in Model.ExternalCredentials)
        {
            <tr>
                <td>
                    @credential.Username
                    <span class="badge" style="background-color: @credential.Badge.Background; color: @credential.Badge.Color">
                        @credential.Badge.Text
                    </span>
                </td>
                <td>
                    <form asp-action="Remove" asp-route-username="@credential.Username" asp-route-platformName="@credential.PlatformName" onsubmit="return confirm('Are you sure you want to remove Pandacap\'s ability to access this account?')">
                        <button class="btn btn-danger btn-sm" type="submit">
                            Remove
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
