@using Pandacap.Data
@using Pandacap.Clients
@using Pandacap.HighLevel
@using Pandacap.Models
@model IEnumerable<CommunityBookmark>

@{
    ViewBag.Title = "Communities";
}

@if (!Model.Any())
{
    <p>
        This user has no bookmarked Lemmy communities.
    </p>
}
else
{
    @foreach (var item in Model)
    {
        <div class="mb-3">
            <div>
                <img height="50" src="@(item.IconUrl ?? "/images/trgray.svg")" alt="" />
                <span style="display: inline-block; vertical-align: top">
                    <a asp-action="ViewCommunity" asp-route-actorId="@item.ActorId">
                        <strong>
                            @item.Name
                        </strong>
                    </a>
                    <br />
                    @item.Host
                </span>
            </div>
            @if (User.Identity?.IsAuthenticated == true)
            {
                <details>
                    <summary>Options</summary>
                    <form asp-action="RemoveBookmark">
                        <input type="hidden" name="id" value="@item.ActorId" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Remove
                        </button>
                    </form>
                </details>
            }
        </div>
    }
}

@if (User.Identity?.IsAuthenticated == true)
{
    <hr />

    <form asp-action="AddBookmark">
        <div class="mb-3">
            <label for="id" class="form-label">
                Actor ID (URL)
            </label>
            <input type="url" class="form-control" id="id" name="id" placeholder="https://" />
            <div class="form-text">Mastodon-style handles (of the form <tt>@@user@@hostname</tt>) are not supported.</div>
        </div>
        <button type="submit" class="btn btn-primary">
            Add bookmark
        </button>
    </form>
}
