@model PostViewModel

@{
    ViewBag.Title = Model.PostView.post.name;

    var po = Model.PostView;
}

@foreach (string banner in Model.Community.Banners)
{
    <div class="mb-3 lemmy-banner">
        <img src="@banner" alt="" />
    </div>
}

<p>
    <div class="small">
        <a href="@po.creator.actor_id" target="_blank">
            @foreach (string icon in po.creator.Avatars)
            {
                <img height="20" src="@icon" alt="" />
            }
            @po.creator.Names.First()
        </a>
    </div>

    <div>
        <strong>
            @po.post.name
        </strong>
    </div>

    <div>@Html.Raw(po.post.Html)</div>

    <div class="small text-muted">
        <a href="@po.post.ap_id" target="_blank">
            @po.post.published.UtcDateTime.ToLongDateString()
        </a>
    </div>

    <div class="small text-muted">
        @po.counts.score
        &middot;
        @po.counts.comments comment(s)
        &middot;
        <a asp-controller="RemotePosts" asp-action="Index" asp-route-id="@po.post.ap_id">Reply</a>
    </div>
</p>

@foreach (var cb in Model.Comments)
{
    <hr />

    <div class="comment">
        <partial name="_Comment" model="@cb" />
    </div>
}
