@model CommunityViewModel

@{
    ViewBag.Title = Model.Community.name;
}

<style type="text/css">
    .lemmy-banner img {
        width: 100%;
        max-height: 240px;
        object-fit: cover;
    }
</style>

@foreach (string banner in Model.Community.Banners)
{
    <div class="mb-3 lemmy-banner">
        <img src="@banner" alt="" />
    </div>
}

<div class="mb-3">
    @foreach (string icon in Model.Community.Icons)
    {
        <img height="50" src="@icon" alt="" />
    }
    <span style="display: inline-block; vertical-align: top">
        <strong>
            @Model.Community.title
        </strong>
        <br />
        @Model.Community.name
    </span>
</div>

@foreach (var po in Model.PostObjects)
{
    <hr />

    <p>
        <div class="small">
            <a href="@po.creator.actor_id" target="_blank">
                @foreach (string icon in po.creator.Avatars)
                {
                    <img height="20" src="@icon" alt="" />
                }
                @po.creator.Names.First()
            </a>
        </div>

        <div>
            <strong>
                @po.post.name
            </strong>
        </div>

        <div class="small text-muted">
            @po.post.published.UtcDateTime.ToLongDateString()
        </div>

        <div class="small text-muted">
            @po.counts.score
            &middot;
            <a href="@po.post.ap_id" target="_blank">@po.counts.comments comment(s)</a>
            &middot;
            <a asp-controller="RemotePosts" asp-action="Index" asp-route-id="@po.post.ap_id">Reply</a>
        </div>
    </p>
}
