@model CommunityViewModel

@{
    ViewBag.Title = Model.Community.name;
}

@foreach (string banner in Model.Community.Banners)
{
    <div class="mb-3 lemmy-banner">
        <img src="@banner" alt="" />
    </div>
}

<div class="mb-3">
    @foreach (string icon in Model.Community.Icons)
    {
        <img height="50" src="@icon" alt="" />
    }
    <span style="display: inline-block; vertical-align: top">
        <strong>
            @Model.Community.title
        </strong>
        <br />
        @Model.Community.name
    </span>

    <div>
        <a asp-controller="AddressedPosts" asp-action="CreateCommunityPost" asp-route-community="@Model.Community.actor_id">Reply</a>
    </div>
</div>

@foreach (var po in Model.PostObjects)
{
    <hr />

    <p>
        <div class="small">
            <a href="@po.creator.actor_id" target="_blank">
                @foreach (string icon in po.creator.Avatars)
                {
                    <img height="20" src="@icon" alt="" />
                }
                @po.creator.Names.First()
            </a>
        </div>

        <div>
            <strong>
                <a asp-action="ViewPost" asp-route-host="@Model.Host" asp-route-id="@po.post.id">
                    @po.post.name
                </a>
            </strong>
        </div>

        <div class="small text-muted">
            @po.post.published.UtcDateTime.ToLongDateString()
        </div>

        <div class="small text-muted">
            @po.counts.score
            &middot;
            @po.counts.comments comment(s)
            &middot;
            <a asp-controller="RemotePosts" asp-action="Index" asp-route-id="@po.post.ap_id">Reply</a>
        </div>
    </p>
}

<hr />

<div class="text-right">
    @if (Model.Page > 1)
    {
        <a asp-action="ViewCommunity"
           asp-route-host="@Model.Host"
           asp-route-name="@Model.Community.name"
           asp-route-page="@(Model.Page - 1)"
           class="btn btn-outline-primary">
            &laquo; Previous
        </a>
    }
    @if (!Model.PostObjects.IsEmpty)
    {
        <a asp-action="ViewCommunity"
           asp-route-host="@Model.Host"
           asp-route-name="@Model.Community.name"
           asp-route-page="@(Model.Page + 1)"
           class="btn btn-outline-primary">
            Next &raquo;
        </a>
    }
</div>
