@using Pandacap.Data
@model Upload

@{
    ViewBag.Title = "Uploads";
}

<p>
    @Model.UploadedAt.UtcDateTime.ToLongDateString()
    @Model.UploadedAt.UtcDateTime.ToShortTimeString()
</p>

<p>
    <tt>
        <a href="/Blobs/Uploads/@Model.Id" target="_blank">
            /Blobs/Uploads/@Model.Id
        </a>
    </tt>
</p>

<p>
    <img src="/Blobs/Uploads/@Model.Id"
         alt="@Model.AltText"
         title="@Model.AltText"
         style="width: 100%; max-width: 640px; max-height: 640px; object-fit: contain" />
</p>

@if (Model.Raster is Guid r)
{
    <p>
        <a asp-controller="Upload" asp-action="ViewUpload" asp-route-id="@r" class="btn btn-outline-primary">
            View raster image
        </a>
    </p>
}

<p>
    <a asp-controller="UserPosts" asp-action="CreateArtworkFromUpload" asp-route-id="@Model.Id" class="btn btn-outline-primary">
        Post as artwork
    </a>

    <a asp-controller="UserPosts" asp-action="CreateStatusUpdateFromUpload" asp-route-id="@Model.Id" class="btn btn-outline-primary">
        Post as status update
    </a>
</p>

<form asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete this image?')">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">
        Delete
    </button>
</form>
