@using Pandacap.ConfigurationObjects
@using Pandacap.Data
@model UserPostViewModel
@inject ApplicationInformation appInfo

@{
    ViewBag.Title = Model.Post.Type == PostType.StatusUpdate
        ? "Status Update"
        : Model.Post.Title;
    ViewBag.UserPost = Model.Post;
}

@if (Model.Post.IsTextPost && DateTimeOffset.UtcNow.AddYears(-1) > Model.Post.PublishedTime)
{
    <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <p class="card-text">This post is more than one year old.</p>
        </div>
    </div>
}

<p>
    <img width="50" height="50" src="/Blobs/Avatar" alt="" />
    <span style="display: inline-block; vertical-align: top">
        <strong>
            @appInfo.Username
        </strong>
        <br />
        <span class="small text-muted">
            @@@(appInfo.Username)@@@(appInfo.ApplicationHostname)
        </span>
    </span>
</p>

<h1>@Model.Post.Title</h1>

<p>
    @Model.Post.PublishedTime.UtcDateTime.ToLongDateString()
    @Model.Post.PublishedTime.UtcDateTime.ToShortTimeString()
</p>

@foreach (var image in Model.Post.Images)
{
    <div style="text-align: center">
        <p>
            <picture>
                <source srcset="/Blobs/UserPosts/@Model.Post.Id/@image.Primary.Id" type="@image.Primary.ContentType" />
                <img src="/Blobs/UserPosts/@Model.Post.Id/@image.Raster.Id"
                     alt="@image.AltText"
                     title="@image.AltText"
                     style="width: 100%; max-width: 640px; max-height: 320px; object-fit: contain" />
            </picture>
        </p>

        <p>
            @foreach (var rendition in image.Renditions)
            {
                <a href="/Blobs/UserPosts/@Model.Post.Id/@rendition.Id" target="_blank" class="btn btn-outline-primary btn-sm">
                    View (@rendition.ContentType)
                </a>
            }
        </p>
    </div>
}

@Html.Raw(Model.Post.Html)

@if (Model.Post.Tags.Any())
{
    <p>
        @foreach (string tag in Model.Post.Tags)
        {
            <a href="/Profile/Search?q=%23@(Uri.EscapeDataString(tag))">#@tag</a>
        }
    </p>
}

<div class="mb-3">
    @if (Model.Post.BlueskyDID is string did && Model.Post.BlueskyRecordKey is string rkey)
    {
        <a href="https://bsky.app/profile/@(did)/post/@(rkey)" class="btn btn-outline-primary" target="_blank">
            View on Bluesky
        </a>
    }

    @if (Model.Post.DeviantArtUrl is string daurl)
    {
        <a href="@daurl" class="btn btn-outline-primary" target="_blank">
            View on DeviantArt
        </a>
    }

    @if (Model.Post.FurAffinitySubmissionId is int faSubmissionId)
    {
        <a href="https://www.furaffinity.net/view/@(faSubmissionId)/" class="btn btn-outline-primary" target="_blank">
            View on Fur Affinity
        </a>
    }

    @if (Model.Post.FurAffinityJournalId is int faJournalId)
    {
        <a href="https://www.furaffinity.net//journal/@(faJournalId)/" class="btn btn-outline-primary" target="_blank">
            View on Fur Affinity
        </a>
    }

    @if (Model.Post.WeasylSubmitId is int submitid)
    {
        <a href="https://www.weasyl.com/~x/submissions/@(submitid)" class="btn btn-outline-primary" target="_blank">
            View on Weasyl
        </a>
    }

    @if (Model.Post.WeasylJournalId is int journalid)
    {
        <a href="https://www.weasyl.com/journal/@(journalid)" class="btn btn-outline-primary" target="_blank">
            View on Weasyl
        </a>
    }
</div>

@if (User.Identity?.IsAuthenticated == true)
{
    <details>
        <summary class="mb-3">Actions</summary>

        @if (Model.Post.DeviantArtId == null)
        {
            <form asp-action="Crosspost" asp-controller="DeviantArt" class="mb-3">
                <input type="hidden" name="id" value="@Model.Post.Id" />
                <button type="submit" class="btn btn-success">
                    Post to DeviantArt
                </button>
            </form>
        }
        else
        {
            <form asp-action="Detach" asp-controller="DeviantArt" class="mb-3" onsubmit="This will remove the 'View on DeviantArt' button; it will not delete the post from DeviantArt.">
                <input type="hidden" name="id" value="@Model.Post.Id" />
                <button type="submit" class="btn btn-warning">
                    Detach DeviantArt post
                </button>
            </form>
        }

        @if (Model.Post.FurAffinitySubmissionId == null && Model.Post.FurAffinityJournalId == null)
        {
            <form asp-action="Crosspost" asp-controller="FurAffinity" class="mb-3">
                <input type="hidden" name="id" value="@Model.Post.Id" />
                <button type="submit" class="btn btn-success">
                    Post to Fur Affinity
                </button>
            </form>
        }
        else
        {
            <form asp-action="Detach" asp-controller="FurAffinity" class="mb-3" onsubmit="This will remove the 'View on Fur Affinity' button; it will not delete the post from Fur Affinity.">
                <input type="hidden" name="id" value="@Model.Post.Id" />
                <button type="submit" class="btn btn-warning">
                    Detach Fur Affinity post
                </button>
            </form>
        }

        @if (Model.Post.WeasylSubmitId == null && Model.Post.WeasylJournalId == null)
        {
            <form asp-action="Crosspost" asp-controller="Weasyl" class="mb-3">
                <input type="hidden" name="id" value="@Model.Post.Id" />
                <button type="submit" class="btn btn-success">
                    Post to Weasyl
                </button>
            </form>
        }
        else
        {
            <form asp-action="Detach" asp-controller="Weasyl" class="mb-3" onsubmit="This will remove the 'View on Weasyl' button; it will not delete the post from Weasyl.">
                <input type="hidden" name="id" value="@Model.Post.Id" />
                <button type="submit" class="btn btn-warning">
                    Detach Weasyl post
                </button>
            </form>
        }

        <p class="small text-muted mb-3">
            See the About page for more information about how crossposts work.
        </p>

        @if (Model.Post.Type == PostType.Artwork && Model.Post.PublishedTime < new DateTimeOffset(2025, 8, 7, 0, 0, 0, TimeSpan.Zero))
        {
            <form asp-action="ConvertToScraps" class="mb-3" onsubmit="return confirm('Are you sure you want to convert this to a Scraps post? This will remove the post from ActivityPub subscribers.')">
                <input type="hidden" name="id" value="@Model.Post.Id" />
                <button type="submit" class="btn btn-warning">
                    Convert to Scraps
                </button>
            </form>
        }

        <form asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete this post from Pandacap? (This will not delete it from any site it has been crossposted to.)')">
            <input type="hidden" name="id" value="@Model.Post.Id" />
            <button type="submit" class="btn btn-danger">
                Delete from @UserAgentInformation.ApplicationName
            </button>
        </form>
    </details>
}

@if (Model.Replies.Any())
{
    <h2>Comments</h2>

    foreach (var reply in Model.Replies)
    {
        <partial name="_Reply" model="@reply" />
    }
}
