@using Pandacap.Data
@using Pandacap.LowLevel
@model UserPostViewModel
@inject ApplicationInformation appInfo
@inject IdMapper mapper

@{
    ViewBag.Title = Model.Post.Type == PostType.StatusUpdate
        ? "Status Update"
        : Model.Post.Title;
    ViewBag.UserPost = Model.Post;
}

@if (Model.Post.Type != PostType.Artwork && DateTimeOffset.UtcNow.AddYears(-1) > Model.Post.PublishedTime)
{
    <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <p class="card-text">This post is more than one year old.</p>
        </div>
    </div>
}

<p>
    <img width="50" height="50" src="/Blobs/Avatar" alt="" />
    <span style="display: inline-block; vertical-align: top">
        <strong>
            @appInfo.Username
        </strong>
        <br />
        <span class="small text-muted">
            @@@(appInfo.Username)@@@(appInfo.HandleHostname)
        </span>
    </span>
</p>

<h1>@Model.Post.Title</h1>

<p>
    @Model.Post.PublishedTime.UtcDateTime.ToLongDateString()
    @Model.Post.PublishedTime.UtcDateTime.ToShortTimeString()
</p>

@foreach (var image in Model.Post.Images)
{
    <p>
        <img src="/Blobs/UserPosts/@Model.Post.Id/@image.Blob.Id"
             alt="@image.AltText"
             title="@image.AltText"
             style="width: 100%; max-width: 640px; max-height: 640px; object-fit: contain" />
    </p>
}

@Html.Raw(Model.Post.Html)

@if (Model.Post.Tags.Any())
{
    <p>
        @foreach (string tag in Model.Post.Tags)
        {
            <a href="/Profile/Search?q=%23@(Uri.EscapeDataString(tag))">#@tag</a>
        }
    </p>
}

<div class="mb-3">
    @if (Model.Post.BlueskyDID is string did && Model.Post.BlueskyRecordKey is string rkey)
    {
        <a href="https://bsky.app/profile/@(did)/post/@(rkey)" class="btn btn-outline-primary" target="_blank">
            View on Bluesky
        </a>
    }

    @if (Model.Post.DeviantArtUrl is string daurl)
    {
        <a href="@daurl" class="btn btn-outline-primary" target="_blank">
            View on DeviantArt
        </a>
    }

    @if (Model.Post.WeasylSubmitId is int submitid)
    {
        <a href="https://www.weasyl.com/~x/submissions/@(submitid)" class="btn btn-outline-primary" target="_blank">
            View on Weasyl
        </a>
    }

    @if (Model.Post.WeasylJournalId is int journalid)
    {
        <a href="https://www.weasyl.com/journal/@(journalid)" class="btn btn-outline-primary" target="_blank">
            View on Weasyl
        </a>
    }
</div>
