@using Pandacap.Data
@using Pandacap.LowLevel
@model UserPostViewModel

@{
    ViewBag.Title = Model.Post.Title;
}

@if (Model.Post.Image == null && DateTimeOffset.UtcNow.AddYears(-1) > Model.Post.PublishedTime)
{
    <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <p class="card-text">This post is more than one year old.</p>
        </div>
    </div>
}

<h1>@Model.Post.Title</h1>

<p>
    @Model.Post.PublishedTime.UtcDateTime.ToLongDateString()
    @Model.Post.PublishedTime.UtcDateTime.ToShortTimeString()
</p>

@if (Model.Post.Image != null)
{
    <p>
        <img src="/Blobs/Images/@Model.Post.Id"
             alt="@Model.Post.AltText"
             title="@Model.Post.AltText"
             style="width: 100%; max-width: 640px; max-height: 640px; object-fit: contain" />
    </p>
}

<p>
    @Html.Raw(Model.Post.Description)
</p>

@if (Model.Post.Tags.Any())
{
    <p>
        @foreach (string tag in Model.Post.Tags)
        {
            <a href="/Profile/Search?q=%23@(Uri.EscapeDataString(tag))">#@tag</a>
        }
    </p>
}

@if (Model.RemoteActivities.Any())
{
    foreach (var group in Model.RemoteActivities.GroupBy(a => a.ActivityType))
    {
        <details class="mb-3">
            <summary>
                @(group.Key)s: <strong>@group.Count()</strong>
            </summary>
            <ul>
                @foreach (var activity in group)
                {
                    <li>
                        <a href="@activity.ActorId" target="_blank">@(activity.Username ?? activity.ActorId)</a>
                        <span class="text-muted">(@activity.AddedAt)</span>
                        <br />
                        <form asp-action="ForgetActivity" onsubmit="return confirm('Are you sure you want Pandacap to forget about this activity?')">
                            <input type="hidden" name="id" value="@activity.Id" />
                            <button type="submit" class="btn btn-sm btn-primary">Forget</button>
                        </form>
                    </li>
                }
            </ul>
        </details>
    }
}

<div class="mb-3">
    @if (Model.Post.Url is string url)
    {
        <a href="@url" class="btn btn-outline-primary" target="_blank">
            View on DeviantArt
        </a>
    }

    @if (Model.Post.BlueskyDID is string did && Model.Post.BlueskyRecordKey is string rkey)
    {
        <a href="https://bsky.app/profile/@(did)/post/@(rkey)" class="btn btn-outline-primary" target="_blank">
            View on Bluesky
        </a>
    }

    @if (Model.Post.WeasylSubmitId is int submitid)
    {
        <a href="https://www.weasyl.com/~x/submissions/@(submitid)" class="btn btn-outline-primary" target="_blank">
            View on Weasyl
        </a>
    }

    @if (Model.Post.WeasylJournalId is int journalid)
    {
        <a href="https://www.weasyl.com/journal/@(journalid)" class="btn btn-outline-primary" target="_blank">
            View on Weasyl
        </a>
    }
</div>

@if (User.Identity?.IsAuthenticated == true)
{
    <form asp-action="Refresh" class="mb-3">
        <input type="hidden" name="id" value="@Model.Post.Id" />
        <button type="submit" class="btn btn-outline-primary">
            Refresh from DeviantArt
        </button>
    </form>

    if (Model.Post.Artwork)
    {
        <form asp-action="UnmarkAsArtwork" class="mb-3">
            <input type="hidden" name="id" value="@Model.Post.Id" />
            <button type="submit" class="btn btn-outline-secondary">
                Move to Journals &amp; Status Updates
            </button>
        </form>
    }
    else
    {
        <form asp-action="MarkAsArtwork" class="mb-3">
            <input type="hidden" name="id" value="@Model.Post.Id" />
            <button type="submit" class="btn btn-outline-secondary">
                Move to Gallery
            </button>
        </form>
    }

    @if (Model.Post.WeasylJournalId == null && Model.Post.WeasylSubmitId == null)
    {
        <form asp-action="Crosspost" asp-controller="Weasyl" class="mb-3">
            <input type="hidden" name="id" value="@Model.Post.Id" />
            <button type="submit" class="btn btn-success">
                Crosspost to Weasyl
            </button>
        </form>

        @:(Weasyl posts are not automatically updated or deleted.)
    }

    <form asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete this post from Pandacap? (This will not delete it from DeviantArt.)')">
        <input type="hidden" name="id" value="@Model.Post.Id" />
        <button type="submit" class="btn btn-danger">
            Delete
        </button>
    </form>
}
