@using Pandacap.Data
@model BridgedPostViewModel

@{
    ViewBag.Title = Model.Deviation.Title;
}

@if (Model.Deviation is UserTextDeviation text && DateTimeOffset.UtcNow - text.PublishedTime > TimeSpan.FromDays(366))
{
    <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <p class="card-text">This post is more than one year old.</p>
        </div>
    </div>
}

<h1>@Model.Deviation.Title</h1>

<p>
    @Model.Deviation.PublishedTime.UtcDateTime.ToLongDateString()
    @Model.Deviation.PublishedTime.UtcDateTime.ToShortTimeString()
</p>

@if (Model.Deviation is UserArtworkDeviation artwork)
{
    <p>
        <img src="@artwork.ImageUrl"
             alt="@artwork.AltText"
             title="@artwork.AltText"
             style="width: 100%; max-width: 640px; max-height: 640px; object-fit: contain" />
    </p>
}

<p>
    @Html.Raw(Model.Deviation.Description)
</p>

@if (Model.Deviation.Tags.Any())
{
    <p>
        @foreach (string tag in Model.Deviation.Tags)
        {
            <a href="/Profile/Search?q=%23@(Uri.EscapeDataString(tag))">#@tag</a>
        }
    </p>
}

@if (Model.RemoteActivities.Any())
{
    foreach (var group in Model.RemoteActivities.GroupBy(a => a.ActivityType))
    {
        <details>
            <summary>
                @(group.Key)s: <strong>@group.Count()</strong>
            </summary>
            <ul>
                @foreach (var activity in group)
                {
                    <li>
                        <a href="@activity.ActorId" target="_blank">@activity.ActorId</a>
                        <span class="text-muted">(@activity.AddedAt)</span>
                    </li>
                }
            </ul>
        </details>
    }
}

@if (User.Identity?.IsAuthenticated == true)
{
    <form asp-action="Refresh">
        <input type="hidden" name="id" value="@Model.Deviation.Id" />
        <button type="submit" class="btn btn-primary">
            Refresh from DeviantArt
        </button>
    </form>
}
