@using Pandacap.Data
@using Pandacap.HighLevel
@using Pandacap.Models
@model IEnumerable<TwtxtFeed>

@{
    ViewBag.Title = "Twtxt feeds";
}

@if (!Model.Any())
{
    <p>
        This user does not currently follow any twtxt feeds.
    </p>
}
else
{
    @foreach (var item in Model)
    {
        <div class="mb-3">
            <div>
                <img height="50" src="@item.Avatar" alt="" />
                <span style="display: inline-block; vertical-align: top">
                    <strong>
                        @(item.Nick ?? $"{item.Id}")
                    </strong>
                    <br />
                    <a href="@item.Url">@item.Url</a>
                </span>
            </div>

            @if (User.Identity?.IsAuthenticated == true)
            {
                <details>
                    <summary>Options</summary>

                    <form asp-action="RefreshFeed" class="d-block m-2">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-primary">Refresh</button>
                    </form>

                    <form asp-action="RemoveFeed" class="d-block m-2" onsubmit="return confirm('Are you sure you want to unfollow this feed?')">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger">Unfollow</button>
                    </form>
                </details>
            }
        </div>
    }
}
