@using Pandacap.Database
@model TagReapplicationViewModel

<h1>Tag Reapplication</h1>

<p>
    For each image, enter a list of shortcodes (separated by spaces).
</p>

<ul>
    <li>
        <code>xyz</code>: attach appearance of canonical character or medium tag that has shortcode <code>xyz</code>
        <br />
        <code>/xyz</code>: attach background appearance of canonical character tag that has shortcode <code>xyz</code>
        <br />
        <code>xyz.abc</code>: attach appearance of canonical character tag that has shortcode <code>xyz</code>, but with species that has shortcode <code>abc</code>
    </li>
</ul>

<form asp-action="Apply">
    @foreach (var post in Model.Posts)
    {
        <h2>@post.Title</h2>

        if (post.Images.FirstOrDefault() is Post.Image image)
        {
            <div style="display: flex; flex-direction: row">
                <div style="flex: 0 0 auto">
                    <a href="/UserPosts/@post.Id" target="_blank">
                        <img src="/Blobs/UserPosts/@post.Id/@image.Primary.Id"
                             width="200"
                             height="150"
                             style="object-fit: contain" />
                    </a>
                </div>

                <div style="flex: 1 1 auto">
                    <div class="mb-2">
                        @post.PublishedTime.Date.ToLongDateString()
                    </div>

                    <input name="tagsToApply_@(post.Id)" type="text" value="@Model.ShortCodeLists[post.Id]" style="width: 100%" />
                </div>
            </div>
        }
    }

    <hr />

    <h2>Additional details</h2>

    <label>
        Next post
        <input type="text" name="nextPostId" value="@Model.Next" readonly />
    </label>

    <hr />

    <button type="submit" class="btn btn-primary">Save tags</button>

    <a asp-action="Index" asp-route-next="@Model.Next" class="btn btn-outline-secondary">Next page</a>
</form>
