@using Pandacap.Data
@model IUserDeviation

@{
    ViewBag.Title = Model.Title;
}

<h1>@Model.Title</h1>

@if (Model is UserArtworkDeviation artwork) {
    <p>
        <img src="@artwork.ImageUrl"
             alt="@artwork.AltText"
             title="@artwork.AltText"
             style="width: 100%; max-width: 640px; max-height: 640px; object-fit: contain" />
    </p>

    @if (User.Identity?.IsAuthenticated == true)
    {
        <div class="card mb-3" style="max-width: 800px">
            <div class="card-header">
                Properties
            </div>
            <div class="card-body">
                <form asp-action="SetAltText">
                    <input type="hidden" name="id" value="@artwork.Id" />
                    <div class="mb-3">
                        <label for="alt" class="form-label">
                            Alt text
                        </label>
                        <input type="text" class="form-control" id="alt" name="alt" value="@artwork.AltText" />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                </form>
            </div>
        </div>
    }
}

<p>
    @Html.Raw(Model.Description)
</p>

@if (Model.Tags.Any())
{
    <p>
        @foreach (string tag in Model.Tags)
        {
            <a href="https://www.deviantart.com/tag/@Uri.EscapeDataString(tag)">#@tag</a>
        }
    </p>
}

<p>
    <a href="@Model.LinkUrl">View on DeviantArt</a>
</p>
